.portfolio
  .portfolio__line
    .portfolio__card.portfolio__card__big
      a.portfolio__card__wrapper.portfolio__card__awards(href='video.html')
        span.portfolio__img
          img(src='/demo/images/p-noname.jpg')
        span.card__overlay
          span.card__annotation.card__annotation__small
            span.card__annotation__header Manufacture and sale of sugar
              span.card__annotation__header__stat people 23,000
            | The project of implementing the values of the project Corporate culture. The project for the implementation of the system of competences
    .portfolio__card.portfolio__card__big
      a.portfolio__card__wrapper.portfolio__card__awards(href='video.html')
        span.portfolio__logo
          img(src='/demo/images/p-l-belaz.png')
        span.portfolio__img
          img(src='/demo/images/p-s7.jpg')
        span.awards__badge__container
          span.awards__badge
            span SILVER AWARD IN THE CATEGORY
              | CORPORATE
        span.card__overlay
          span.card__annotation Feature film
  .portfolio__line
    .portfolio__card.portfolio__card__big
      a.portfolio__card__wrapper(href='video.html')
        span.portfolio__logo
          img(src='/demo/images/p-l-zeo.png')
        span.portfolio__img
          img(src='/demo/images/p-zeo.jpg')
        span.card__overlay
          span.card__annotation Image film
    .portfolio__card.portfolio__card__big
      a.portfolio__card__wrapper.portfolio__card__awards(href='video.html')
        span.portfolio__logo
          img(src='/demo/images/p-l-gb.png')
        span.portfolio__img
          img(src='/demo/images/p-gb.jpg')
        span.awards__badge__container
          span.awards__badge
            span MOVIE FESTIVAL 1ST PRIZE
        span.card__overlay
          span.card__annotation Feature film

  .portfolio__line
    .portfolio__card.portfolio__card__big
      a.portfolio__card__wrapper(href='video.html')
        span.portfolio__logo
          img(src='/demo/images/p-l-s7.png')
        span.portfolio__img
          img(src='/demo/images/p-s7-2.jpg')
        span.card__overlay
          span.card__annotation Image film
    .portfolio__card.portfolio__card__big
      a.portfolio__card__wrapper(href='video.html')
        span.portfolio__logo
          img(src='/demo/images/p-l-zeo.png')
        span.portfolio__img
          img(src='/demo/images/p-zeo-2.jpg')
        span.card__overlay
          span.card__annotation Feature film
