.portfolio
  .portfolio__line
    .portfolio__card.portfolio__card__medium
      a.portfolio__card__wrapper(href='video.html')
        span.portfolio__logo
          img(src='/demo/images/p-l-belaz.png')
        span.portfolio__img
          img(src='/demo/images/p-belaz.jpg')
        span.card__overlay
          span.card__annotation Presentation film

    .portfolio__card.portfolio__card__medium
      a.portfolio__card__wrapper(href='video.html')
        span.portfolio__logo
          img(src='/demo/images/p-l-s7.png')
        span.portfolio__img
          img(src='/demo/images/p-s7.jpg')
        span.card__overlay
          span.card__annotation Film for the festive event
    .portfolio__card.portfolio__card__medium
      a.portfolio__card__wrapper(href='video.html')
        span.portfolio__logo
          img(src='/demo/images/p-l-gazprom.png')
        span.portfolio__img
          img(src='/demo/images/p-gazprom.jpg')
        span.card__overlay
          span.card__annotation Annual report
  .portfolio__line
    .portfolio__card.portfolio__card__big
      a.portfolio__card__wrapper.portfolio__card__awards(href='video.html')
        span.portfolio__logo
          img(src='/demo/images/p-l-zeo.png')
        span.portfolio__img
          img(src='/demo/images/p-zeo.jpg')
        span.awards__badge__container
          span.awards__badge
            span SILVER AWARD IN THE CATEGORY
              | CORPORATE
        span.card__overlay
          span.card__annotation Image film
    .portfolio__card.portfolio__card__big
      a.portfolio__card__wrapper.portfolio__card__awards(href='video.html')
        span.portfolio__logo
          img(src='/demo/images/p-l-gb.png')
        span.portfolio__img
          img(src='/demo/images/p-gb.jpg')
        span.awards__badge__container
          span.awards__badge
            span SILVER AWARD IN THE CATEGORY
              | CORPORATE
        span.card__overlay
          span.card__annotation Feature film
