.portfolio
  .portfolio__line
    .portfolio__card.portfolio__card__medium
      a.portfolio__card__wrapper.portfolio__card__awards(href='video.html')
        span.portfolio__logo
          img(src='/demo/images/p-l-cannes.png')
        span.portfolio__img
          img(src='/demo/images/04_Why_03.jpg')
        span.awards__badge__container
          span.awards__badge
            span SILVER DOLPHIN
        span.card__overlay
          span.card__annotation Presentation film
      .portfolio__card__annotation
        a(href='#') 2014
        | &nbsp; the cannes corporate media
        | & tv awards
    .portfolio__card.portfolio__card__medium
      a.portfolio__card__wrapper.portfolio__card__awards(href='video.html')
        span.portfolio__logo
          img(src='/demo/images/p-l-us.png')
        span.portfolio__img
          img(src='/demo/images/p-us1.jpg')
        span.awards__badge__container
          span.awards__badge
            span SILVER AWARD IN THE CATEGORY
              | CORPORATE
        span.card__overlay
          span.card__annotation Film for the festive event
      .portfolio__card__annotation
        a(href='#') 2014
        | &nbsp; US International Film & Video
        | Festival
    .portfolio__card.portfolio__card__medium
      a.portfolio__card__wrapper.portfolio__card__awards(href='video.html')
        span.portfolio__logo
          img(src='/demo/images/p-l-us.png')
        span.portfolio__img
          img(src='/demo/images/p-us2.jpg')
        span.awards__badge__container
          span.awards__badge
            span SILVER AWARD IN THE CATEGORY
              | OF ADVERTISING / MARKETING B2C
        span.card__overlay
          span.card__annotation Movie for festival event
      .portfolio__card__annotation
        a(href='#') 2014
        | &nbsp; US International Film & Video
        | Festival
  .portfolio__line
    .portfolio__card.portfolio__card__medium
      a.portfolio__card__wrapper.portfolio__card__awards(href='video.html')
        span.portfolio__logo
          img(src='/demo/images/p-l-us.png')
        span.portfolio__img
          img(src='/demo/images/p-us3.jpg')
        span.awards__badge__container
          span.awards__badge
            span SILVER AWARD IN THE CATEGORY
             | CORPORATE PR
        span.card__overlay
          span.card__annotation Presentation film
      .portfolio__card__annotation
        a(href='#') 2012
        | &nbsp; US International Film & Video
        | Festival
    .portfolio__card.portfolio__card__medium
      a.portfolio__card__wrapper.portfolio__card__awards(href='video.html')
        span.portfolio__logo
          img(src='/demo/images/p-l-sport.png')
        span.portfolio__img
          img(src='/demo/images/p-sport.jpg')
        span.awards__badge__container
          span.awards__badge
            span Second place
        span.card__overlay
          span.card__annotation Film for the festive event
      .portfolio__card__annotation
        a(href='#') 2010
        | &nbsp; International sport film festival
    .portfolio__card.portfolio__card__medium
      a.portfolio__card__wrapper.portfolio__card__awards(href='video.html')
        span.portfolio__logo
          img(src='/demo/images/p-l-ny.png')
        span.portfolio__img
          img(src='/demo/images/p-ny.jpg')
        span.awards__badge__container
          span.awards__badge
           span bronze award
        span.card__overlay
          span.card__annotation Annual report
      .portfolio__card__annotation
        a(href='#') 2009
        | &nbsp; New York film
        | Festival
