.remodal(data-remodal-id="feedback")
  button.remodal-close(data-remodal-action="close")
  section.feedback__container
    .row
      .medium-20.columns
        .content
          h2.title.article__title.title__feedback Write us
          include ../forms/feedback
