.clients__page {
  margin-top: rem-calc(40);
}
.clients__wrapper {
  margin: rem-calc(0 -10 0 -10);
}

.clients {
  background-color: #fff;
  margin-bottom: -1px;
}
.client__tile__container {
  border-right: 1px solid rgba(#c19fb7, .3);
  border-bottom: 1px solid rgba(#c19fb7, .3);
  &:last-child {
    border-right: none;
  }
}

.clients__tile {
  width: 100%;
  position: relative;
  vertical-align: middle;
  align-items: center;
  flex-flow: row wrap;
  display: flex;

  &:hover {
    .clients__tile__overlay {
      z-index: 1;
      opacity: 1;
    }
  }
}

.clients__tile__logo__container {
  width: 100%;
  text-align: center;

  img {
    @include breakpoint(medium down) {
      max-width: 80%;
    }
  }
}

.clients__tile__overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
  opacity: 0;
  vertical-align: middle;
  align-items: center;
  flex-flow: row wrap;
  display: flex;
  transition: opacity .8s;

  &--green {
    background-color: #20903e;


    .tile__project {
      color: #3ab85c;
      background-color: #3ab85c;
      transition: background-color .5s, color .5s;
      &:hover {
        color: #4cd872;
        background-color: #4cd872;
      }
    }
    .tile__link {
      color: #fff;
      &:hover {
        color: #fff;
      }
    }
  }
}

.tile__project {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  padding: rem-calc(50);
  width: calc(100% + 2px);
  height: calc(100% + 2px);

  &--left {
    transform: translateX(calc(-100% + 1px));
    height: 100%;
  }
  &--up {
    transform: translateY(calc(-100% + 3px));
    width: 100%;
  }
  &--right {
    transform: translateX(calc( 100% - 3px ));
    height: 100%;
  }
  &--down{
    transform: translateY(calc(100% - 3px));
    width: 100%;
  }

}

.tile__project__annotation {
  display: block;
  .awards__badge__container {
    position: static;
    margin-top: rem-calc(5);
  }
  span {
    display: block;
    padding: rem-calc(2 0);
  }
}
.tile__link {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  color: #fff;
  padding-left: rem-calc(50);
  text-decoration: none;
  font-weight: normal;
  font-size: rem-calc(14);
  text-transform: uppercase;
  letter-spacing: 0;
  align-items: center;
  flex-flow: row wrap;
  display: flex;

  &:hover {
    color: #fff;
  }
  @include breakpoint(medium down) {
    left: rem-calc(10);
  }
}

span.project__type {
  border-bottom: 1px solid #fff;
  display: inline-block;
  margin-bottom: rem-calc(5);
}
