.portfolio {
  margin-left: rem-calc(-20);
  margin-right: rem-calc(-20);
}

.portfolio__line {
  margin-bottom: rem-calc(20);
  @include clearfix;

  &:last-child {
    margin-bottom: 0;
  }

  @include breakpoint(medium down) {
    margin-bottom: 0;
  }
}

.portfolio__card {
  float: left;


  &:last-child {
    margin-right: 0;
  }
}

.portfolio__card__wrapper {
  overflow: hidden;
  box-shadow: -1px 0 13px -1px rgba(0,0,0,0.75);
  display: block;
  text-decoration: none;
  height: 100%;
  position: relative;
  background-color: #000;
  transform: translateY(0);

  &:hover {
    .portfolio__img {
      transform: translateY(-20%);
    }
    .card__overlay {
      opacity: 1;
    }
    .awards__badge__container {
      bottom: 63px;
    }
    .card__annotation {
      bottom: 20px;
    }
  }
  &.portfolio__card__awards {
    &:hover {
      .portfolio__img {
        //transform: translateY(-50%);
      }
    }
  }
}

.portfolio__logo {
  position: absolute;
  left: 30px;
  top: 30px;
  z-index: 3;
}

.portfolio__img {
  display: block;
  transition: transform .5s;
  img {
    width: 100%;
  }
}

.portfolio__card__big {
  width: 49%;
  margin-right: 2%;

  @include breakpoint(medium down) {
    width: 100%;
    margin-bottom: rem-calc(20);
  }
}

.portfolio__card__medium {
  width: 32%;
  margin-right: 2%;

  @include breakpoint(medium down) {
    width: 100%;
    margin-bottom: rem-calc(20);
    margin-right: 0;
  }
}
.portfolio__card__annotation {
  display: block;
  text-decoration: none;
  position: relative;
  padding: rem-calc(15 30 0);
  text-transform: uppercase;
  font-weight: normal;
  font-size: rem-calc(14);
  a {
    text-decoration: none;
  }

}
.awards__badge__container {
  position: absolute;
  left: 40px;
  bottom: 30px;
  transition: bottom .5s;
  letter-spacing: 0;
  z-index: 3;
  max-width: rem-calc(250);

}

.awards__badge {
  line-height: 1.2;
  display: inline;
  outline: #ffde00 solid 0.4em;
  background: #ffde00;
  text-transform: uppercase;
  font-size: rem-calc(14);
  color: #000;
  position: relative;
  -moz-outline-offset: -0.04em;
  padding: rem-calc(5 0);
  font-weight: normal;
  span {
    position: relative;
  }

}
@-moz-document url-prefix() {.awards__badge  {outline-offset:-0.04em;}}
.card__overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
  transition: opacity .5s;
  text-transform: uppercase;
  background: rgba(0,0,0, .5);
  z-index: 2;
  opacity: 0;
}

.card__annotation {
  position: absolute;
  color: #fff;
  letter-spacing: 0.4px;
  font-size: rem-calc(14);
  font-weight: normal;
  text-transform: uppercase;
  bottom: -20px;
  left: 30px;
  right: 30px;
  transition: bottom .5s;

  &__small {
    text-transform: none;
    font-size: rem-calc(13);
    font-weight: 300;
  }
  &__header {
    text-transform: uppercase;
    display: block;
    padding-bottom: rem-calc(15);
    margin-bottom: rem-calc(15);
    border-bottom: 1px solid rgba(#fff, .1);
    font-weight: normal;
    font-size: rem-calc(14);

    &__stat {
      color: $link_hover;
      float: right;
    }
  }
}
