#why {
  .header {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
  }
}

.why__slide__container {
  display: flex;
  align-items: center;
  justify-content: center;
  background-size: cover;
  background-repeat: no-repeat;
  flex-direction: column;
  text-align: center;

  p {
    line-height: 1.2;
    font-size: rem-calc(23);
  }
}

.title--why {
  font-size: 140px;
  line-height: 1;
  @include breakpoint(small only) {
    font-size: 15vw;
  }
}
.why__fullpage {
  position: relative;
}
.why__slide__nav__container {
  text-align: center;
  position: absolute;
  bottom: rem-calc(50);
  left: 0;
  right: 0;
}
.why__slide__nav {
  display: inline-block;
  border-top: 1px solid rgba(#fff, .3);
}
.why__slide__nav__item {
  display: inline-block;
  margin-right: rem-calc(18);
  margin-top: -1px;
  &:last-child {
    margin-right: 0;

  }
  a {
    border-top: 2px solid transparent;
    text-transform: uppercase;
    font-size: rem-calc(15);
    color: #fff;
    text-decoration: none;
    padding-top: 20px;
    display: block;

    &:hover, &.active {
      border-top-color: #ffa9a9;
      color: #ffa9a9;
    }

  }
  &:focus {
    outline: none;
  }
  &.slick-current {
    a {
      color: #ffa9a9;
      border-top-color: #ffa9a9;
    }

  }
}

.why__slide__nav__container {
  .slick-track {
    margin: auto;
    border-top: 1px solid rgba(#fff, .3);
    padding-top: 24px;
  }
}
.why__advantage {
  @include breakpoint(small only) {
    .columns {
      border-bottom: 1px solid rgba(#fff, .5);
      margin-bottom: rem-calc(20);
      flex: 0 0 90%;
      margin-left: 5%;
    }
    h2 {
      margin: rem-calc(10 0);
    }
  }
}
