.header {
  padding: 19px 0 23px 0;
  vertical-align: top;
  position: relative;
  z-index: 2;
  @include breakpoint(small only) {
    background: rgba(#fff, .1);
  }
}

.logo {
  text-align: right;
  &:focus, .logo__link:focus {
    outline: none;
  }

  @include breakpoint(medium down) {
    text-align: left;
  }
}

.nav__header__container {
  padding-left: 10px;
}

.header__news__nav {
}

.langswitch__container {
  text-align: right;
  margin-right: rem-calc(-20);

  .nav__item-main {
    margin-right: rem-calc(9);
  }
}

#hasVideo {
  .header {
    position: absolute;
    top: 0;
    z-index: 2;
    left: 0;
    right: 0;
  }
}
.langswitch__navigation {
  position: relative;
  z-index: 1;

  &.active {
    .langswitch__switcher {
      background-image: url('/images/nav_up.png');
    }
    .langswitch__subnav {
      opacity: 1;
    }
  }
}
.langswitch__switcher {
  display: inline-block;
  background: url('/images/nav_down.png') 100% 50% no-repeat;
  padding-right: rem-calc(20);
}
.langswitch__subnav {
  position: fixed;
  z-index: -1;
  opacity: 0;
  top: 0;
  left: 0;
  right: 0;
  transition: top .5s, opacity .5s;
  margin: 0;
  padding: 0;

  li {
    display: inline-block;
    width: 49%;
  }
  a {
    display: block;
    padding: rem-calc(20 10);
    text-align: center;
    text-transform: uppercase;

    &.current {
      background-color: rgba(#fff, .1);
    }
  }
}
