@font-face {
  font-family: 'Roboto';
  src: url('../fonts/roboto-mediumitalic_0-webfont.eot');
  src: url('../fonts/roboto-mediumitalic_0-webfont.eot?#iefix') format('embedded-opentype'),
  url('../fonts/roboto-mediumitalic_0-webfont.woff2') format('woff2'),
  url('../fonts/roboto-mediumitalic_0-webfont.woff') format('woff'),
  url('../fonts/roboto-mediumitalic_0-webfont.ttf') format('truetype'),
  url('../fonts/roboto-mediumitalic_0-webfont.svg#robotomedium_italic') format('svg');
  font-weight: 500;
  font-style: italic;

}

@font-face {
  font-family: 'Roboto';
  src: url('../fonts/roboto-regular_0-webfont.eot');
  src: url('../fonts/roboto-regular_0-webfont.eot?#iefix') format('embedded-opentype'),
  url('../fonts/roboto-regular_0-webfont.woff2') format('woff2'),
  url('../fonts/roboto-regular_0-webfont.woff') format('woff'),
  url('../fonts/roboto-regular_0-webfont.ttf') format('truetype'),
  url('../fonts/roboto-regular_0-webfont.svg#robotoregular') format('svg');
  font-weight: normal;
  font-style: normal;

}

@font-face {
  font-family: 'Roboto';
  src: url('../fonts/roboto-thin_0-webfont.eot');
  src: url('../fonts/roboto-thin_0-webfont.eot?#iefix') format('embedded-opentype'),
  url('../fonts/roboto-thin_0-webfont.woff2') format('woff2'),
  url('../fonts/roboto-thin_0-webfont.woff') format('woff'),
  url('../fonts/roboto-thin_0-webfont.ttf') format('truetype'),
  url('../fonts/roboto-thin_0-webfont.svg#robotothin') format('svg');
  font-weight: 100;
  font-style: normal;

}

@font-face {
  font-family: 'Roboto';
  src: url('../fonts/roboto-thinitalic_0-webfont.eot');
  src: url('../fonts/roboto-thinitalic_0-webfont.eot?#iefix') format('embedded-opentype'),
  url('../fonts/roboto-thinitalic_0-webfont.woff2') format('woff2'),
  url('../fonts/roboto-thinitalic_0-webfont.woff') format('woff'),
  url('../fonts/roboto-thinitalic_0-webfont.ttf') format('truetype'),
  url('../fonts/roboto-thinitalic_0-webfont.svg#robotothin_italic') format('svg');
  font-weight: 100;
  font-style: italic;

}

@font-face {
  font-family: 'Roboto';
  src: url('../fonts/roboto-black_0-webfont.eot');
  src: url('../fonts/roboto-black_0-webfont.eot?#iefix') format('embedded-opentype'),
  url('../fonts/roboto-black_0-webfont.woff2') format('woff2'),
  url('../fonts/roboto-black_0-webfont.woff') format('woff'),
  url('../fonts/roboto-black_0-webfont.ttf') format('truetype'),
  url('../fonts/roboto-black_0-webfont.svg#robotoblack') format('svg');
  font-weight: 900;
  font-style: normal;

}

@font-face {
  font-family: 'Roboto';
  src: url('../fonts/roboto-blackitalic_0-webfont.eot');
  src: url('../fonts/roboto-blackitalic_0-webfont.eot?#iefix') format('embedded-opentype'),
  url('../fonts/roboto-blackitalic_0-webfont.woff2') format('woff2'),
  url('../fonts/roboto-blackitalic_0-webfont.woff') format('woff'),
  url('../fonts/roboto-blackitalic_0-webfont.ttf') format('truetype'),
  url('../fonts/roboto-blackitalic_0-webfont.svg#robotoblack_italic') format('svg');
  font-weight: 900;
  font-style: italic;

}

@font-face {
  font-family: 'Roboto';
  src: url('../fonts/roboto-bold_0-webfont.eot');
  src: url('../fonts/roboto-bold_0-webfont.eot?#iefix') format('embedded-opentype'),
  url('../fonts/roboto-bold_0-webfont.woff2') format('woff2'),
  url('../fonts/roboto-bold_0-webfont.woff') format('woff'),
  url('../fonts/roboto-bold_0-webfont.ttf') format('truetype'),
  url('../fonts/roboto-bold_0-webfont.svg#robotobold') format('svg');
  font-weight: 700;
  font-style: normal;

}

@font-face {
  font-family: 'Roboto';
  src: url('../fonts/roboto-bolditalic_0-webfont.eot');
  src: url('../fonts/roboto-bolditalic_0-webfont.eot?#iefix') format('embedded-opentype'),
  url('../fonts/roboto-bolditalic_0-webfont.woff2') format('woff2'),
  url('../fonts/roboto-bolditalic_0-webfont.woff') format('woff'),
  url('../fonts/roboto-bolditalic_0-webfont.ttf') format('truetype'),
  url('../fonts/roboto-bolditalic_0-webfont.svg#robotobold_italic') format('svg');
  font-weight: 700;
  font-style: italic;

}

@font-face {
  font-family: 'Roboto';
  src: url('../fonts/roboto-italic_0-webfont.eot');
  src: url('../fonts/roboto-italic_0-webfont.eot?#iefix') format('embedded-opentype'),
  url('../fonts/roboto-italic_0-webfont.woff2') format('woff2'),
  url('../fonts/roboto-italic_0-webfont.woff') format('woff'),
  url('../fonts/roboto-italic_0-webfont.ttf') format('truetype'),
  url('../fonts/roboto-italic_0-webfont.svg#robotoitalic') format('svg');
  font-weight: normal;
  font-style: italic;

}

@font-face {
  font-family: 'Roboto';
  src: url('../fonts/roboto-light_0-webfont.eot');
  src: url('../fonts/roboto-light_0-webfont.eot?#iefix') format('embedded-opentype'),
  url('../fonts/roboto-light_0-webfont.woff2') format('woff2'),
  url('../fonts/roboto-light_0-webfont.woff') format('woff'),
  url('../fonts/roboto-light_0-webfont.ttf') format('truetype'),
  url('../fonts/roboto-light_0-webfont.svg#robotolight') format('svg');
  font-weight: 300;
  font-style: normal;

}

@font-face {
  font-family: 'Roboto';
  src: url('../fonts/roboto-lightitalic_0-webfont.eot');
  src: url('../fonts/roboto-lightitalic_0-webfont.eot?#iefix') format('embedded-opentype'),
  url('../fonts/roboto-lightitalic_0-webfont.woff2') format('woff2'),
  url('../fonts/roboto-lightitalic_0-webfont.woff') format('woff'),
  url('../fonts/roboto-lightitalic_0-webfont.ttf') format('truetype'),
  url('../fonts/roboto-lightitalic_0-webfont.svg#robotolight_italic') format('svg');
  font-weight: 300;
  font-style: italic;

}

@font-face {
  font-family: 'Roboto';
  src: url('../fonts/roboto-medium_0-webfont.eot');
  src: url('../fonts/roboto-medium_0-webfont.eot?#iefix') format('embedded-opentype'),
  url('../fonts/roboto-medium_0-webfont.woff2') format('woff2'),
  url('../fonts/roboto-medium_0-webfont.woff') format('woff'),
  url('../fonts/roboto-medium_0-webfont.ttf') format('truetype'),
  url('../fonts/roboto-medium_0-webfont.svg#robotomedium') format('svg');
  font-weight: 500;
  font-style: normal;

}

@font-face {
  font-family: 'Roboto Slab';
  src: url('../fonts/robotoslab-bold_0-webfont.eot');
  src: url('../fonts/robotoslab-bold_0-webfont.eot?#iefix') format('embedded-opentype'),
  url('../fonts/robotoslab-bold_0-webfont.woff2') format('woff2'),
  url('../fonts/robotoslab-bold_0-webfont.woff') format('woff'),
  url('../fonts/robotoslab-bold_0-webfont.ttf') format('truetype'),
  url('../fonts/robotoslab-bold_0-webfont.svg#roboto_slabbold') format('svg');
  font-weight: 700;
  font-style: normal;

}

@font-face {
  font-family: 'Roboto Slab';
  src: url('../fonts/robotoslab-light_0-webfont.eot');
  src: url('../fonts/robotoslab-light_0-webfont.eot?#iefix') format('embedded-opentype'),
  url('../fonts/robotoslab-light_0-webfont.woff2') format('woff2'),
  url('../fonts/robotoslab-light_0-webfont.woff') format('woff'),
  url('../fonts/robotoslab-light_0-webfont.ttf') format('truetype'),
  url('../fonts/robotoslab-light_0-webfont.svg#roboto_slablight') format('svg');
  font-weight: 300;
  font-style: normal;

}

@font-face {
  font-family: 'Roboto Slab';
  src: url('../fonts/robotoslab-regular_0-webfont.eot');
  src: url('../fonts/robotoslab-regular_0-webfont.eot?#iefix') format('embedded-opentype'),
  url('../fonts/robotoslab-regular_0-webfont.woff2') format('woff2'),
  url('../fonts/robotoslab-regular_0-webfont.woff') format('woff'),
  url('../fonts/robotoslab-regular_0-webfont.ttf') format('truetype'),
  url('../fonts/robotoslab-regular_0-webfont.svg#roboto_slabregular') format('svg');
  font-weight: normal;
  font-style: normal;

}

@font-face {
  font-family: 'Roboto Slab';
  src: url('../fonts/robotoslab-thin_0-webfont.eot');
  src: url('../fonts/robotoslab-thin_0-webfont.eot?#iefix') format('embedded-opentype'),
  url('../fonts/robotoslab-thin_0-webfont.woff2') format('woff2'),
  url('../fonts/robotoslab-thin_0-webfont.woff') format('woff'),
  url('../fonts/robotoslab-thin_0-webfont.ttf') format('truetype'),
  url('../fonts/robotoslab-thin_0-webfont.svg#roboto_slabthin') format('svg');
  font-weight: 100;
  font-style: normal;

}

@font-face {
  font-family: 'Roboto Condensed';
  src: url('../fonts/roboto-boldcondensed_0-webfont.eot');
  src: url('../fonts/roboto-boldcondensed_0-webfont.eot?#iefix') format('embedded-opentype'),
  url('../fonts/roboto-boldcondensed_0-webfont.woff2') format('woff2'),
  url('../fonts/roboto-boldcondensed_0-webfont.woff') format('woff'),
  url('../fonts/roboto-boldcondensed_0-webfont.ttf') format('truetype'),
  url('../fonts/roboto-boldcondensed_0-webfont.svg#robotobold_condensed') format('svg');
  font-weight: 700;
  font-style: normal;

}

@font-face {
  font-family: 'Roboto Condensed';
  src: url('../fonts/roboto-boldcondenseditalic_0-webfont.eot');
  src: url('../fonts/roboto-boldcondenseditalic_0-webfont.eot?#iefix') format('embedded-opentype'),
  url('../fonts/roboto-boldcondenseditalic_0-webfont.woff2') format('woff2'),
  url('../fonts/roboto-boldcondenseditalic_0-webfont.woff') format('woff'),
  url('../fonts/roboto-boldcondenseditalic_0-webfont.ttf') format('truetype'),
  url('../fonts/roboto-boldcondenseditalic_0-webfont.svg#robotobold_condensed_italic') format('svg');
  font-weight: 700;
  font-style: italic;

}


@font-face {
  font-family: 'Roboto Condensed';
  src: url('../fonts/roboto-condensed_0-webfont.eot');
  src: url('../fonts/roboto-condensed_0-webfont.eot?#iefix') format('embedded-opentype'),
  url('../fonts/roboto-condensed_0-webfont.woff2') format('woff2'),
  url('../fonts/roboto-condensed_0-webfont.woff') format('woff'),
  url('../fonts/roboto-condensed_0-webfont.ttf') format('truetype'),
  url('../fonts/roboto-condensed_0-webfont.svg#robotocondensed') format('svg');
  font-weight: normal;
  font-style: normal;

}

@font-face {
  font-family: 'Roboto Condensed';
  src: url('../fonts/roboto-condenseditalic_0-webfont.eot');
  src: url('../fonts/roboto-condenseditalic_0-webfont.eot?#iefix') format('embedded-opentype'),
  url('../fonts/roboto-condenseditalic_0-webfont.woff2') format('woff2'),
  url('../fonts/roboto-condenseditalic_0-webfont.woff') format('woff'),
  url('../fonts/roboto-condenseditalic_0-webfont.ttf') format('truetype'),
  url('../fonts/roboto-condenseditalic_0-webfont.svg#robotocondensed_italic') format('svg');
  font-weight: normal;
  font-style: italic;

}

@font-face {
  font-family: 'SocialIcons';
  src: url('../fonts/vk_ico.eot');
  src: url('../fonts/vk_ico.eot?#iefix') format('embedded-opentype'),
  url('../fonts/vk_ico.woff') format('woff'),
  url('../fonts/vk_ico.ttf') format('truetype'),
  url('../fonts/vk_ico.svg#SocialIcons') format('svg');
  font-weight: normal;
  font-style: italic;

}