.icon:before, icon:before {
  font-family: "SocialIcons";
  font-style: normal;
  font-weight: normal;
  speak: none;

  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  font-variant: normal;
  text-transform: none;
  line-height: 1em;
  margin-left: .2em;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-youtube-play:before { content: '\e800'; } /* '' */
.icon-linkedin:before     { content: '\e801'; } /* '' */
.icon-facebook:before     { content: '\e802'; } /* '' */
.icon-vk:before           { content: '\e803'; } /* '' */
.icon-skype:before        { content: '\e804'; } /* '' */
.icon-twitter:before      { content: '\e805'; } /* '' */
.icon-vimeo:before        { content: '\e806'; } /* '' */
.icon-gplus:before        { content: '\e807'; } /* '' */
.icon-paypal:before       { content: '\e808'; } /* '' */