@include foundation-global-styles;
@include off-canvas-basics;
@include foundation-off-canvas;
@include foundation-visibility-classes;

html, body {
  height: 100%;
}

body {
  background: #721e5a url('../images/bg.jpg') 50% 0 repeat-y;
  background: linear-gradient(left, #721e5a, #903350);
  color: #333;
  padding: 0;
  margin: 0;
}

@include foundation-flex-grid;
*:focus {
  outline: none;
}
.img__bg {
  width: 100%;
}

.page__wrapper {
  position: relative;
  z-index: 1;
  height: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;

  &:before {
    content: '';
    display: table;
  }
}

.content {
  padding-left: 10px;
}

.section__margin {
  margin: rem-calc(20 0);
}

.section__end {
  margin-bottom: 0;
  p:last-child {
    margin-bottom: 0;
  }
}
