@mixin lineartextgradient($color1, $color2)
{
  color: mix($color1, $color2);
  background: -webkit-linear-gradient(left, $color1, $color2);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}