body {
  font-size: $base_font_size;
  color: $base_color;
  font-family: $base_font_family;
  line-height: $base_line_height;
  font-weight: $base_font_weight;
  letter-spacing: 1px;
  font-smooth: always;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  color: $link_main;
  text-decoration: underline;
  transition: text-decoration .3s, color .3s;
  &:hover {
    color: $link_hover;
    text-decoration: none;
  }
  &:active {
    color: $link_active;
  }
}

p {
  font-size: rem-calc(18);
  letter-spacing: 0;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 100;
}

h1 {
  font-weight: 100;
  font-size: rem-calc(63);
  margin: 30px 0;

  @include breakpoint(medium down) {
    font-size: rem-calc(40);
  }
  @include breakpoint(landscape) {

  }
}

h2 {
  font-weight: 100;
  font-size: rem-calc(44);
}

.title {

  //@include lineartextgradient(#fff, #ffa9a9);
}

.title--low {
  margin-bottom: 0;
  line-height: 1;
}

.title--strong {
  text-transform: uppercase;
  font-weight: normal;
}

.title--intro {
  font-size: 140px;
  @include breakpoint(medium down) {
    font-size: rem-calc(50);
  }
}

.title__feedback {
  font-size: rem-calc(65);
  margin-bottom: rem-calc(20);
}
.list {
  padding-left: 0;
  li {
    padding-left: rem-calc(25);
    list-style-type: none;
    background: url('/images/li-bullet.png') 0 rem-calc(7) no-repeat ;
  }
}

.text-left {
  text-align: left;
}
.text-right {
  text-align: right;
}
.text-center {
  text-align: center;
}

blockquote {
  color: #e69399;
  font-weight: 200;
  font-size: rem-calc(15);
  margin: rem-calc(20 0 40);
  padding: 0;
}

time {
  font-size: rem-calc(14);
  color: #ffa9a9;
}

.article__title {
  padding-left: 0.3125rem;
  margin: 0 0 0.8125rem;
  line-height: 1;
}
