/* Color settings */
$base_color:        #fff;
$link_main:         #ffa9a9;
$link_hover:        #e18a94;
$link_active:       #e18a94;


/* Font Settings */
$base_font_family:    'Roboto', sans-serif;
$base_font_size:      100%;
$base_line_height:    1.63;
$base_letter_spacing: 0;
$base_font_weight:    300;

/* Nav setting */
$nav_link_color:    #c19fb7;
$nav_link_hover:    #ffa9a9;
$nav_link_active:   #fff;

/* Filter */
$filter-bg:         rgba(#fff, .11);
$filter-bg-select:  #ffa9a9;
$filter-open:       #fff;


/* Foundation vars */
$global-font-size:              100%;
$global-text-direction:         ltr !default;

$global-left:                   if($global-text-direction == rtl, right, left);
$global-right:                  if($global-text-direction == rtl, left, right);


$grid-row-width:                1920px !default;
$grid-column-count:             20 !default;
$grid-column-gutter:            20px !default;
$grid-column-responsive-gutter: (
    small: 20px,
    medium: 30px,
) !default;
$grid-column-align-edge:        true !default;
$-zf-end-float: if($grid-column-align-edge, $global-right, $global-left);
$block-grid-max:                20 !default;

$offcanvas-size: 100% !default;
$offcanvas-background: #842a54 !default;