.input, .textarea {
  background-color: rgba(#fff, .1);
  transition: background-color .3s,
              border-color .3s,
              color .3s;
  border: 1px solid rgba(#fff, .2);
  font-weight: normal;
  font-size: rem-calc(14);
  padding: rem-calc(15 20);
  width: 100%;
  margin-bottom: rem-calc(20);

  &::placeholder {
    color: #fff;
    text-transform: uppercase;
    transition: color .3s;
  }

  &:hover {
    background-color: rgba(#ffa9a9, .1);
    border-color: rgba(#ffa9a9, 1);

    &::placeholder {
      color: #ffa9a9;
    }
  }
  &:focus {
    border-color: rgba(#fff, 1);
    background-color: rgba(#fff, 1);
    outline: none;
    color: #000;

    &::placeholder {
      color: #fff;
    }
  }

}

textarea {
  height: rem-calc(170);
}
.feedback__container {
  text-align: left;
}
