/**
 * @author zhixin wen <wenzhixin2010@gmail.com>
 */
.filter {
  margin-bottom: 20px;
}
.filter__labelcontainer {
  display: block;
  height: 50px;
  width: 140px;
  text-align: center;
  line-height: 50px;
  color: #000;
  background-color: #fff;
  margin-left: -20px;
  font-weight: normal;
  text-transform: uppercase;
  font-size: rem-calc(12);
  @include breakpoint(small only) {
    margin-left:0;
    margin-right: 0;
    margin-bottom: rem-calc(15);
  }
}

.filter__selectcontainer {


  @include breakpoint(small onlyv) {
    margin-left:0;
    margin-right: 0;
    margin-bottom: rem-calc(15);
  }
  @include breakpoint(medium up) {
    margin-left: 22px;
    margin-right: rem-calc(-20);
  }
}

.ms-parent {
  display: inline-block;
  position: relative;
  vertical-align: middle;
}

.ms-choice {
  display: block;
  width: 100%;
  overflow: hidden;
  cursor: pointer;
  text-align: left;
  white-space: nowrap;
  text-decoration: none;
  background-color: $filter-bg;
  border: none;
  font-size: 14px;
  text-transform: uppercase;
  color: #fff;
  padding: 15px 0 15px 10px;
  height: 50px;
  line-height: 50px;
  transition: color .3s, background-color .3s;
  &:before, &:after {
    content: '';
    display: block;
    background-repeat: no-repeat;
    background-position: 50%;
  }
  &:before {
    background-image: url('../images/menu-white.png');
    width: 40px;
    height: 50px;
    position: absolute;
    left: 0;
    top: 0;
  }
  &:after {
    background-image: url('../images/arrow-combo-white.png');
    background-position:  50% 50%;
    width: 50px;
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
  }
  &:hover, &.open {
    background-color: $filter-bg-select;
    color: #000;

    &:before{
      background-image: url('../images/menu-black.png');
    }
    &:after {
      background-image: url('../images/arrow-combo-black.png');
    }
  }
  &.open {
    background-color: #fff;
  }

  &:focus {
    outline: none;
  }
}

.ms-choice.disabled {
  background-color: #f4f4f4;
  background-image: none;
  border: 1px solid #ddd;
  cursor: default;
}

.ms-choice > span {
  position: absolute;
  top: 0;
  left: 45px;
  right: 45px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  display: block;
  font-weight: normal;
}

.ms-choice > span.placeholder {

}



.ms-drop {
  width: 100%;
  overflow: hidden;
  display: none;
  padding: 0;
  position: absolute;
  z-index: 1000;
  background: #fff;
  color: #000;
}

.ms-drop.bottom {
  top: 100%;
  -webkit-box-shadow: 0 4px 5px rgba(0, 0, 0, .15);
  -moz-box-shadow: 0 4px 5px rgba(0, 0, 0, .15);
  box-shadow: 0 4px 5px rgba(0, 0, 0, .15);
}

.ms-drop.top {
  bottom: 100%;
  -webkit-box-shadow: 0 -4px 5px rgba(0, 0, 0, .15);
  -moz-box-shadow: 0 -4px 5px rgba(0, 0, 0, .15);
  box-shadow: 0 -4px 5px rgba(0, 0, 0, .15);
}

.ms-search {
  display: inline-block;
  margin: 0;
  min-height: 26px;
  padding: 4px;
  position: relative;
  white-space: nowrap;
  width: 100%;
  z-index: 10000;
}

.ms-search input {
  width: 100%;
  height: auto !important;
  min-height: 24px;
  padding: 0 20px 0 5px;
  margin: 0;
  outline: 0;
  font-family: sans-serif;
  font-size: 1em;
  border: 1px solid #aaa;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  background: #fff url('multiple-select.png') no-repeat 100% -22px;
  background: url('multiple-select.png') no-repeat 100% -22px, -webkit-gradient(linear, left bottom, left top, color-stop(0.85, white), color-stop(0.99, #eeeeee));
  background: url('multiple-select.png') no-repeat 100% -22px, -webkit-linear-gradient(center bottom, white 85%, #eeeeee 99%);
  background: url('multiple-select.png') no-repeat 100% -22px, -moz-linear-gradient(center bottom, white 85%, #eeeeee 99%);
  background: url('multiple-select.png') no-repeat 100% -22px, -o-linear-gradient(bottom, white 85%, #eeeeee 99%);
  background: url('multiple-select.png') no-repeat 100% -22px, -ms-linear-gradient(top, #ffffff 85%, #eeeeee 99%);
  background: url('multiple-select.png') no-repeat 100% -22px, linear-gradient(top, #ffffff 85%, #eeeeee 99%);
}

.ms-search, .ms-search input {
  -webkit-box-sizing: border-box;
  -khtml-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
}

.ms-drop ul {
  overflow: auto;
  margin: 0;
  padding: 0;
}

.ms-drop ul > li {
  list-style: none;
  display: list-item;
  background-image: none;
  position: static;
  height: 45px;
  line-height: 45px;

  transition: background-color .3s;

  &:hover, &.selected {
    background-color: $filter-bg-select;
    & > label:before {

      background-color: $filter-bg-select;

    }
    &.selected {
      & > label:before {
        background-image: url('../images/plus-black.png');
        background-repeat: no-repeat;
        background-position: 50%;
      }
    }
  }
}

.ms-drop ul > li .disabled {
  opacity: .35;
  filter: Alpha(Opacity=35);
}

.ms-drop ul > li.multiple {
  display: block;
  float: left;
}

.ms-drop ul > li.group {
  clear: both;
}

.ms-drop ul > li.multiple label {
  width: 100%;
  display: block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  cursor: pointer;
}

.ms-drop ul > li label {
  font-weight: normal;
  display: block;
  white-space: nowrap;
  cursor: pointer;
  position: relative;
  font-size: 14px;
  text-transform: uppercase;
  letter-spacing: 0.3px;

  &:before {
    content: '';
    display: block;
    width: 40px;
    height: 45px;
    position: absolute;
    left: 0;
    background-color: #fff;
    transition: background-color .3s;
  }

}

.ms-drop ul > li label.optgroup {
  font-weight: bold;
}

.ms-drop input[type="checkbox"] {
  vertical-align: middle;
  display: inline-block;
  width: 44px;

  &:focus {
    outline: none;
  }
}

.ms-drop .ms-no-results {
  display: none;
}
