#hasIntro {
  .intro__video__after {
    display: none;
  }
  .footer {
    display: none;
  }
}
.intro--skip--button {
  @extend .button;
  background-color: rgba(#fff, .5);
  width: rem-calc(113);
  height: rem-calc(37);
  font-size: rem-calc(14);
  color: #fff;
  padding: rem-calc(12 0);
  line-height: 1;
}

.intro {
  padding: rem-calc(180 0 50);

  @include breakpoint(medium down) {
    padding: rem-calc(10 0);
  }
}
.intro__video__after {
  margin-top: rem-calc(45);
  .brands__slider__container {
    margin-top: rem-calc(5);
  }
}
