.intro__video__container {
  position: fixed;
  bottom: 0;
  top: 0;
}

.intro__video {
  position: fixed;
  top: 50% !important;
  left: 50% !important;
  min-width: 100% !important;
  min-height: 100% !important;
  width: auto;
  height: auto !important;
  z-index: -100;
  transform: translateX(-50%) translateY(-50%);
  background-size: cover;
  transition: 1s opacity;
}

.intro__video__content {
  position: fixed;
  top: 0;
  bottom: 0;
  min-width: 100%;
  width: auto;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
