.address {
  margin: rem-calc(20 0 20 10);
}

.address__line {
  border-bottom: 1px solid rgba(#fff, .3);
  padding-bottom: rem-calc(40);
  margin-bottom: rem-calc(40);
}

.address__city {
  font-size: rem-calc(44);
  font-weight: 100;
  margin-bottom: rem-calc(10);
}
.feedback__container {
  margin-bottom: 0;
}
