.map__continer {
  margin-top: rem-calc(37);
}

.map {
  margin: rem-calc(20 0 0);
  width: 100%;
  height: rem-calc(800);
}

.map-point {
  width: rem-calc(38);
  height: rem-calc(38);
  border-radius: 200%;
  background: url('/images/gmarker.png') no-repeat 50%;

}
