.brands__slider__container
  .brands__slider
    .brand__slide
      img(src='/demo/images/brand-slide-1.jpg')
    .brand__slide
      img(src='/demo/images/brand-slide-2.jpg')
    .brand__slide
      img(src='/demo/images/brand-slide-3.jpg')
    .brand__slide
      img(src='/demo/images/brand-slide-4.jpg')
    .brand__slide
      img(src='/demo/images/brand-slide-5.jpg')
    .brand__slide
      img(src='/demo/images/brand-slide-1.jpg')
    .brand__slide
      img(src='/demo/images/brand-slide-2.jpg')
    .brand__slide
      img(src='/demo/images/brand-slide-3.jpg')
    .brand__slide
      img(src='/demo/images/brand-slide-4.jpg')
    .brand__slide
      img(src='/demo/images/brand-slide-5.jpg')
