.event__slider__container
  .event__slider
    .event__slide
      img(src='/demo/images/event_slide.jpg')
    .event__slide
      img(src='/demo/images/united-states-los-angeles.jpg')
    .event__slide
      img(src='/demo/images/event_slide.jpg')
    .event__slide
      img(src='/demo/images/united-states-los-angeles.jpg')
  .slide__count__container
    .slide__count
  script.
    function slickCounterPosition() {
      var $slickCenter = $('.slick-active').offset();
      if (screen.width >= 800) {
        $status.css('right', $slickCenter.left);
      } else {
        $status.css('right', 0);
      }
    }
    slickCounterPosition;
    $(window).resize(slickCounterPosition);
