.arrow-left {

  &-md {
    background-image: url('../images/arrow-left-md.png');
    &-hover {
      background-image: url('../images/arrow-left-md-hover.png');
    }
  }
  &-hd {
    background-image: url('../images/arrow-left-hd.png');
    &-hover {
      background-image: url('../images/arrow-left-hd-hover.png');
    }
  }
}

.arrow-right {

  &-md {
    background-image: url('../images/arrow-right-md.png');
    &-hover {
      background-image: url('../images/arrow-right-md-hover.png');
    }

  }
  &-hd {
    background-image: url('../images/arrow-right-hd.png');
    &-hover {
      background-image: url('../images/arrow-right-hd-hover.png');
    }
  }
}