.pagination
  .row.align-middle
    .small-6.columns
      a.page__arrow.page__arrow--left(href='#') Back
    .small-8.columns.text-center
      a.page__nav.page__brick(href='#')
    .small-6.text-right.columns
      a.page__arrow.page__arrow--right(href='#') Next
