.row
  .medium-18.medium-offset-1.columns.end.small-18.small-offset-1
    footer.footer
      .row.align-middle
        .medium-8.small-20.columns
          .footer__feedback
            a.button.button--footer(href='#' data-remodal-target='feedback') Feedback
          .footer__address
            span.address__street ul. Efremova, dom. 12 / 2, office 312
            span.address__country Moscow, Russia, 119048 &copy; 2016
        .medium-4.small-20.columns.text-center
          ul.social__list
            li
              a.social__link.social__ico--linkedin(href='#')
            li
              a.social__link.social__ico--facebook(href='#')
            li
              a.social__link.social__ico--youtube(href='#')

        .medium-8.columns.text-right.hide-for-small-only
          a.designstudio__logo(href='#')
