.off-canvas.position-left {
  height: 100%;
}

.open__menu {
  display: inline-block;
  width: rem-calc(60);
  height: rem-calc(60);
  background: url('/images/nav_hm.png') 50% no-repeat;

}
.close-button {
  display: inline-block;
  width: rem-calc(15);
  height: rem-calc(15);
  background: url('/images/video-close.png') 50% no-repeat;
  background-size: cover;
}

.off-canvas__header {
  background-color: #914065;
  padding: rem-calc(5 10);
}

.nav__mobile__container {
  margin: rem-calc(35 10 0);
}

.off-canvas-content, .off-canvas-content {
  background: none;
}
