.video-inside {
  display: flex;
  align-items: center;
  justify-content: center;
  background-size: cover;
  background-repeat: no-repeat;
  flex-direction: column;
  text-align: center;
  height: 100%;
  position: relative;
}

.video__play__button {
  display: block;
  width: 153px;
  height: 153px;
  background: url('/images/video-play.png');
  cursor: pointer;
}

.video__container {
  display: none;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 5;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  background: rgba(#000, 1);
  video {
    width: 100%;
    height: auto;
  }
}

.mediaplayer {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.close__video {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  background: rgba(#000, .3);
  padding: rem-calc(10);
  cursor: pointer;
  z-index: 6;

}
.video__close__button {
  display: block;
  width: rem-calc(28);
  height: rem-calc(28);
  background: url('/images/video-close.png');
  float: right;
  margin-right: rem-calc(20);
}
