extends layouts/default
block subnav
  include components/nav/where-nav
block content
  section.address
    .row
      .medium-14.medium-offset-3.column
        article.address__line
          header
            span.address__city Moscow
          .row
            .medium-14.columns.small-20
              span.address__street Ul. Efremova, dom. 12, stroenie 2, office 312.
                br
                | Moscow, Russia. 119048

            .medium-6.columns.small-20
              span.phone +7 499 766-44-90
              br
              a.mail(href='mailto:info@f-mnt.com') info@f-mnt.com
        article.address__line
          header
            span.address__city Tivat
          .row
            .medium-14.columns.small-20
              span.address__street 85320, Montenegro,
                br
                | Tivat, Kalimanj, 11/12

            .medium-6.columns.small-20
              span.phone +382 67 696 605
              br
              a.mail(href='mailto:info.montenegro@f-mtn.com.com') info.montenegro@f-mtn.com.com
  .row
    .medium-14.medium-offset-3.column
      section.feedback__container
        .row
          .medium-20.columns
            .content
              header
                span.address__city Write us
              include components/forms/feedback
