extends layouts/default
block content
  include components/nav/what-nav

  section.events
    article.event
      header
        .row.align-top
          .medium-3.columns.text-center.small-order-2.small-10.medium-order-1
            a.page__arrow.page__arrow--left(href='#') Back
          .medium-14.columns.small-order-1.small-20.medium-order-2
            h1.title Tarkett Prometheus
          .medium-2.columns.text-right.small-order-3.small-10
            a.page__arrow.page__arrow--right(href='#') Next
      .row
        .medium-15.medium-offset-3.columns
          .goal
            h4.goal__title Goal
            img.goal__logo(src='/demo/images/tarkett_logo.png')
            p To conduct an outdoor strategic session as a part of the internal project “Prometheus” of the Tarkett Company with a professional moderation for the management of Tarkett Eastern Europe.
          h5.events__subtitle REQUIREMENTS
          p To offer and organize a rich dynamic program for immersing people into the maximum resource state. The entire project was designed and implemented by the FreeMotion team in full.
      include components/sliders/fullwidthslider
      .row
        .medium-15.medium-offset-3.columns
          h5.events__subtitle THE JOB WAS COMPLETED
          p The strategic session took place in picturesque places of the Altai Mountains for four days. The dynamic part of the program involved such elements as a high-mountain horse route, rafting with the passage of rapids with a high degree of complexity on the Katun River, rope courses on a professional training base, training in archery, crossbow, and throwing knives with instructors, visiting a Siberian stag breeding farm, and viewing Altai petroglyphs.
          p Each day ended with an evening concert program during which session participants learned about the ethnic culture of the Altai and folk arts. FreeMotion organized an improvisatory concert with the heads of the Tarkett Eastern Europe Company together with a professional musical group.
          p During the stay all stages of the program were recorded on video, and on the final day the FreeMotion team showed the participants the completed film about the trip. The aim was not only to capture emotions, but also to reflect the results of the session and plan for changes, and to strengthen the corporate spirit of the company.
          .flex-video

          h2 Other projects for Tarkett
      .row.section__end
        .medium-18.medium-offset-1.columns
          .portfolio
            .portfolio__line
              .portfolio__card.portfolio__card__medium
                a.portfolio__card__wrapper(href='video.html')
                  span.portfolio__logo
                    img(src='/demo/images/p-l-belaz.png')
                  span.portfolio__img
                    img(src='/demo/images/p-belaz.jpg')
                  span.card__overlay
                    span.card__annotation Presentation film
              .portfolio__card.portfolio__card__medium
                a.portfolio__card__wrapper(href='video.html')
                  span.portfolio__logo
                    img(src='/demo/images/p-l-s7.png')
                  span.portfolio__img
                    img(src='/demo/images/p-s7.jpg')
                  span.card__overlay
                    span.card__annotation Film for the festive event
              .portfolio__card.portfolio__card__medium
                a.portfolio__card__wrapper(href='video.html')
                  span.portfolio__logo
                    img(src='/demo/images/p-l-gazprom.png')
                  span.portfolio__img
                    img(src='/demo/images/p-gazprom.jpg')
                  span.card__overlay
                    span.card__annotation Annual report
