extends layouts/default
block subnav
  include components/nav/what-nav
block content
  section.events
    article.event
      header
        .row.align-top
          .medium-3.columns.text-center.small-order-2.small-10.medium-order-1
            a.page__arrow.page__arrow--left(href='#') Back
          .medium-14.columns.small-order-1.small-20.medium-order-2
            h1.title HR-Campaing
      .row
        .medium-15.columns.medium-offset-3.small-18.small-offset-1
          p FreeMotion has successful examples of implementing integrated HR-campaigns. We do not limit ourselves to traditional HR-consulting, but know how to effectively solve various problems which may arise in an organization. Our experience in the development and conducting of business games, foresight projects and facilitation as well as educational programs and capacity building in HR management,
            span.read-more-content PR and creation of special news opportunities, attracting new employees, winning
              | bids, or presenting complicated products. In addition, a corporate film can become a central emotional
              | event on various levels. It is not just a marketing tool, but also a piece of art. Perhaps it is this
              | formula, born with experience, which made us the country’s main experts in the field of corporate film
              | and has allowed us to win international professional awards. The main thing in our films is not just a
              | beautiful picture, corresponding to the highest European standards, but also a well-told story, with
              | emotions affecting each viewer. We do not leave people cold. The technology for creating movies from
              | FreeMotion makes it possible to find real solutions and implement them through corporate films.

      .row
        .filter.medium-18.medium-offset-1.columns.end
          .row
            .medium-2.columns
              .filter__labelcontainer
                label(for='filter2') All events
            .medium-18.columns
              .filter__selectcontainer
                select#filter2.js-selectbox(multiple="multiple" data-placeholder='Business GAMES')
                  option(value='1') Training programs
                  option(value='2') Forsytes and facilitation
                  option(value='3') Personel assessment
                  option(value='4') Training programs for employees
                  option(value='5') Audit and building human resource management system
      section.row
        .medium-18.medium-offset-1.column.small-18.small-offset-1
          include components/portfolio/portfolio-hr
