block vars
  - var bodyId = 'hasIntro'
extends layouts/default

block content
  .intro__video__container
    video.intro__video#bgvid(src="/demo/video/freemotion.mp4" autoplay style='background: url("/demo/images/bg_2.jpg")')
    .intro__video__content
      h1.title.title--intro Experience
      a#skipIntro.intro--skip--button(href='#') Skip
  .intro__video__after
    //
      section.row
        .medium-18.medium-offset-1.column.small-18.small-offset-1
          .intro
            h1.text-center.title.title--intro Freemotion
            p.text-center We are a communication agency, uniting a team of professional
              br
              | with twenty years of exeperience in managment, marketing mass communications
              br
              | and video production.
    section.row
      .medium-18.medium-offset-1.column.small-18.small-offset-1
        include components/portfolio/portfolio
    section.row
      .medium-18.medium-offset-1.column.small-20
        include components/sliders/brand
