extends layouts/default
block content
  section.news
    .row
      .medium-15.medium-offset-3.columns.small-offset-1.small-18
        article.news__element
          .row
            .shrink.columns.news__image
              img.news__img(src='/demo/images/news--img.jpg')
            .columns
              time(datetime='2014-10-05') 05.10.2014
              h2.news__title
                a.news__title(href='news-inside.html') Second International award in one year
              p.news__anounce FreeMotion Group and its member, the LBL Production Film Company received an award at the Fifth Cannes Corporate Media and TV Awards Festival. The festival takes place every year in France and is a major global event in the field of corporate films.
        article.news__element
          .row
            .shrink.columns.news__image
              img.news__img(src='/demo/images/news--img.jpg')
            .columns
              time(datetime='2014-10-05') 05.10.2014
              h2.news__title
                a.news__title(href='news-inside.html') Second International award in one year
              p.news__anounce FreeMotion Group and its member, the LBL Production Film Company received an award at the Fifth Cannes Corporate Media and TV Awards Festival. The festival takes place every year in France and is a major global event in the field of corporate films.
        article.news__element
          .row
            .columns
              time(datetime='2014-10-05') 05.10.2014
              h2.news__title
                a.news__title(href='news-inside.html') Second International award in one year
              p.news__anounce FreeMotion Group and its member, the LBL Production Film Company received an award at the Fifth Cannes Corporate Media and TV Awards Festival. The festival takes place every year in France and is a major global event in the field of corporate films.
        article.news__element
          .row
            .shrink.columns.news__image
              img.news__img(src='/demo/images/news--img.jpg')
            .columns
              time(datetime='2014-10-05') 05.10.2014
              h2.news__title
                a.news__title(href='news-inside.html') Second International award in one year
              p.news__anounce FreeMotion Group and its member, the LBL Production Film Company received an award at the Fifth Cannes Corporate Media and TV Awards Festival. The festival takes place every year in France and is a major global event in the field of corporate films.
