extends layouts/default
block content
  section.news.news--inside
    article
      header.news__header
        .row.align-top
          .medium-3.columns.text-center.hide-for-small-only
            a.page__arrow.page__arrow--left(href='#') Back
          .medium-14.columns
            h1.title.article__title Second International
              | award in one year
          .medium-3.columns.text-center.hide-for-small-only
            a.page__arrow.page__arrow--right(href='#') Next
      .row
        .medium-15.medium-offset-3.columns
          .news--inside--anounce
            .row
              .columns.shrink
                .news__image
                  img.news__img(src='/demo/images/news--img.jpg')
              .columns
                time(datetime='2014-10-05') 05.10.2014
                p.news__anounce FreeMotion Group and its member, the LBL Production Film Company
                  | received an award at the Fifth Cannes Corporate Media and TV Awards Festival.
                  | The festival takes place every year in France and is a major global event in the
                  | field of corporate films.
      .row
        .medium-15.medium-offset-3.columns
          p The Film “ZEO. Conducted by Nature” was about a new British brand of soft drinks.
            | The inscription on the label of ZEO – “Born in Russia” – indicates that the idea of
            | its creation was born in Russia. The purpose of the film was not only to tell people
            | about the natural ingredients which make up the product, but also to create a legend
            | around the link of the new British beverage with Russia, taking into account
            | the European perception of our country. This is why FreeDrinks was looking for a
            | company to create a film here in Russia, and decided to choose FreeMotion on the basis of our portfolio and a large number of awards from international film festivals.
          p The film was shot in the pristine areas of Lake Baikal, Siberia, and Mountainous Altai.
            | “The idea of a non-alcoholic drink, produced according to a proprietary recipe using
            | only natural ingredients with a very low sugar content, belongs to a Russian. “It is
            | this fact that underlies the legend of ‘Born in Russia,’ which received a positive
            | response from the British people, apparently, because Russia is associated with
            | something mysterious and natural,” says Vyacheslav Goldfeld, General Director of
            | FreeMotion.

      include components/sliders/fullwidthslider
      .row.section__end
        .medium-15.medium-offset-3.columns
          p “The producer faced the task of making an image film for the website, which would reveal
            | the legend. In fact, the value of the film turned out to be higher than we had initially
            | expected. Now it is perceived as a ‘manifesto’ of the brand. It is notable that, in fact,
            | the film which became the award winner of the Cannes Corporate Media and TV Awards
            | Festival, is a film simply about Russia. ‘What does your Russia look like?’ is the main
            | question to which the public responds.”
          p The Cannes Corporate Media and TV Awards, being one of the leading festivals of corporate
            | film in the world, is the only festival taking place on the legendary venue in Cannes.
            | The jury of the festival includes the winners of the “Oscar” and “Emmy,” and the films
            | for the competition are sent from all five continents. The competitors of FreeMotion in
            | the main category “Corporate Image Film” were participants from Germany, France, Hong
            | Kong, Canada, Japan, Singapore, and five other countries.
          p For example, in 2014 alone 725 applications were sent, of which 141 were nominated.
          p This was the second international award received by FreeMotion in 2014. Previously,
            | the company won a silver award in Los Angeles at the U.S. International Film and Video
            | Festival in the category of “CORPORATE: Specialty Productions,” becoming the third time
            | it became a prize winner in this category. FreeMotion received the “Silver Screen”
            | this time for the film made for the “Salt” Restaurant. The portfolio of the Company’s
            | awards also contains an award of the New York Film Festival – the most authoritative
            | festival of advertisement and corporate film – for the film “For Life” for NYCOMED
            | Russia and CIS.

      include components/pagination/pagenav_nobile

