extends layouts/default
block content

  section.row
    .medium-17.medium-offset-3.columns
      ul.nav.nav__pagenav
        li.nav__item-main
          a.nav__link-main(href='#') Corporate films
        li.nav__item-main
          a.nav__link-main(href='#') Video
        li.nav__item-main
          a.nav__link-main.nav__link-main-active(href='#') Events
        li.nav__item-main
          a.nav__link-main(href='#') HR-Campaing
        li.nav__item-main
          a.nav__link-main(href='#') Creative & marketing

  section
    .row
      header.medium-14.medium-push-3.columns
        .content
          h1.title Tarkett Prometheus
      .medium-3.medium-pull-14.columns
        .page__arrow__container
          a.page__arrow.page__arrow--left(href='#') Back
      .medium-3.columns
        .page__arrow__container
          a.page__arrow.page__arrow--right(href='#') Next
    .row
      header.medium-14.medium-push-3.columns
        .content
          h1.title HR-Campaing
      .medium-3.medium-pull-14.columns
        .page__arrow__container
          a.page__arrow.page__arrow--left(href='#') Back
      .medium-3.columns
        .page__arrow__container
          a.page__arrow.page__arrow--right(href='#') Next
    .row
      .medium-15.medium-offset-3.columns
        .content
          p FreeMotion has successful examples of implementing integrated HR-campaigns. We do not limit ourselves to traditional HR-consulting, but know how to effectively solve various problems which may arise in an organization. Our experience in the development and conducting of business games, foresight projects and facilitation as well as educational programs and capacity building in HR management

    .row
      .filter.large-18.medium-offset-1.columns.end
        .row
          .medium-2.columns
            .filter__labelcontainer
              label(for='filter1') All cases
          .medium-18.columns
            .filter__selectcontainer
              select#filter1.js-selectbox(multiple="multiple" data-placeholder='Business GAMES')
                option(value='1') Training programs
                option(value='2') Forsytes and facilitation
                option(value='3') Personel assessment
                option(value='4') Training programs for employees
                option(value='5') Audit and building human resource management system
    .row
      .filter.large-18.medium-offset-1.columns.end
        .row
          .medium-2.columns
            .filter__labelcontainer
              label(for='filter2') All events
          .medium-18.columns
            .filter__selectcontainer
              select#filter2.js-selectbox(multiple="multiple" data-placeholder='Business GAMES')
                option(value='1') Training programs
                option(value='2') Forsytes and facilitation
                option(value='3') Personel assessment
                option(value='4') Training programs for employees
                option(value='5') Audit and building human resource management system
    .row
      .filter.large-18.medium-offset-1.columns.end
        .row
          .medium-2.columns
            .filter__labelcontainer
              label(for='filter3') All events
          .medium-18.columns
            .filter__selectcontainer
              select#filter3.js-selectbox(multiple="multiple" data-placeholder='Business GAMES')
                option(value='1') Training programs
                option(value='2') Forsytes and facilitation
                option(value='3') Personel assessment
                option(value='4') Training programs for employees
                option(value='5') Audit and building human resource management system

  section
    .row
      .medium-14.medium-offset-3.columns
        .content
          h2 Write us
          form(action='#')
            input.input(placeholder='Your name *')
            .row
              .medium-10.columns
                input.input(placeholder='Your phone *')
              .medium-10.columns
                input.input(placeholder='your email address *')
            textarea.textarea(placeholder='your message')
            .row
              .medium-20.columns.text-right
                input.button(type='submit' value='Send')

  section
    .row
      .medium-10.columns
        .row
          .medium-15.medium-offset-5.end.columns
            .creator__portrait.creator__portrait-left
              .creator__photo__container
                img.creator__photo(src='/demo/images/vyacheslav.jpg')
              h2.title.creator__name Vyacheslav Goldfeld
              span.creator__occupation General director and managing partner
              a(href='mailto:gold@f-mtn.com') gold@f-mtn.com
      .medium-10.columns
        .row
          .medium-19.medium-offset-1.end.columns
            .creator__portrait.creator__portrait-right
              .creator__photo__container
                img.creator__photo(src='/demo/images/vyacheslav.jpg')
              h2.title.creator__name Vyacheslav Goldfeld
              span.creator__occupation General director and managing partner
              a(href='mailto:gold@f-mtn.com') gold@f-mtn.com

  section
    include components/portfolio/portfolio

