block vars
  - var bodyId = 'hasVideo'
extends layouts/default
block subnav
  include components/nav/what-nav
block content

  section.video-inside(style='background-image: url(/demo/images/video-preview.jpg)')
    .video__preview
      span.video__play__button
    .video__container
      .mediaplayer
        .close__video
          span.video__close__button
        video(src="/demo/video/s7.mp4" controls preload="none")

  section.events
    article.event
      header
        .row.align-top
          .medium-3.columns.text-center.small-order-2.small-10.medium-order-1
            a.page__arrow.page__arrow--left(href='#') Back
          .medium-14.columns.small-order-1.small-20.medium-order-2
            h1.title S7 airlines. 20 years
          .medium-2.columns.text-right.small-order-3.small-10
            a.page__arrow.page__arrow--right(href='#') Next
      .row
        .medium-15.medium-offset-3.columns
          .goal
            h4.goal__title Goal
            img.goal__logo(src='/demo/images/tarkett_logo.png')
            p To conduct an outdoor strategic session as a part of the internal project “Prometheus” of the Tarkett Company with a professional moderation for the management of Tarkett Eastern Europe.
          h5.events__subtitle REQUIREMENTS
          ul.list
            li To mention the key events of the 20-year history of the company
            li The ability to use the film as a presentation of SPD as a subsidiary company for the head office of Royal Dutch Shell.
          p To offer and organize a rich dynamic program for immersing people into the maximum resource state. The entire project was designed and implemented by the FreeMotion team in full.
          h5.events__subtitle The job was completed
          p The strategic session took place in picturesque places of the Altai Mountains for four days. The dynamic part of the program involved such elements as a high-mountain horse route, rafting with the passage of rapids with a high degree of complexity on the Katun River, rope courses on a professional training base, training in archery, crossbow, and throwing knives with instructors, visiting a Siberian stag breeding farm, and viewing Altai petroglyphs.
          p Each day ended with an evening concert program during which session participants learned about the ethnic culture of the Altai and folk arts. FreeMotion organized an improvisatory concert with the heads of the Tarkett Eastern Europe Company together with a professional musical group.
          p During the stay all stages of the program were recorded on video, and on the final day the FreeMotion team showed the participants the completed film about the trip. The aim was not only to capture emotions, but also to reflect the results of the session and plan for changes, and to strengthen the corporate spirit of the company.
          h2 Other projects for Tarkett
      .row
        .medium-18.medium-offset-1.columns
          .portfolio
            .portfolio__line
              .portfolio__card.portfolio__card__medium
                a.portfolio__card__wrapper(href='video.html')
                  span.portfolio__logo
                    img(src='/demo/images/p-l-belaz.png')
                  span.portfolio__img
                    img(src='/demo/images/p-belaz.jpg')
                  span.card__overlay
                    span.card__annotation Presentation film

              .portfolio__card.portfolio__card__medium
                a.portfolio__card__wrapper(href='video.html')
                  span.portfolio__logo
                    img(src='/demo/images/p-l-s7.png')
                  span.portfolio__img
                    img(src='/demo/images/p-s7.jpg')
                  span.card__overlay
                    span.card__annotation Film for the festive event
              .portfolio__card.portfolio__card__medium
                a.portfolio__card__wrapper(href='video.html')
                  span.portfolio__logo
                    img(src='/demo/images/p-l-gazprom.png')
                  span.portfolio__img
                    img(src='/demo/images/p-gazprom.jpg')
                  span.card__overlay
                    span.card__annotation Annual report
      include components/pagination/pagenav_nobile
