extends layouts/default
block subnav
  include components/nav/what-nav
block content
  section.what
    ul.what__nav
      li.what__item
        .what__link
          article.row
            .columns.medium-offset-3.medium-3.small-20
              .what__icon__container
                img.what__icon(src='/demo/images/corpfilms-ico.png')
            .columns.medium-11.small-18.medium-offset-0.small-offset-1
              header
                h4.what__title Corporate films
              .readmore
                p The corporate film is a modern and effective tool for solving many corporate objectives: improving the image of the company and the loyalty of its employees, lobbying projects, receiving large foreign investments,
                  span.read-more-content PR and creation of special news opportunities, attracting new employees, winning bids, or presenting complicated products. In addition, a corporate film can become a central emotional event on various levels.
                    | It is not just a marketing tool, but also a piece of art. Perhaps it is this formula, born with experience, which made us the country’s main experts in the field of corporate film and has allowed us to win international professional awards. The main thing in our films is not just a beautiful picture, corresponding to the highest European standards, but also a well-told story, with emotions affecting each viewer. We do not leave people cold. The technology for creating movies from FreeMotion makes it possible to find real solutions and implement them through corporate films,
      li.what__item
        a.what__link(href='events.html')
          article.row
            .columns.medium-offset-3.medium-3.small-20
              .what__icon__container
                img.what__icon(src='/demo/images/events-ico.png')
            .columns.medium-11.small-18.medium-offset-0.small-offset-1
              header
                h4.what__title Events
              p The corporate film is a modern and effective tool for solving many corporate objectives: improving the image of the company and the loyalty of its employees, lobbying projects, receiving large foreign investments, reed more
      li.what__item
        a.what__link(href='#')
          article.row
            .columns.medium-offset-3.medium-3.small-20
              .what__icon__container
                img.what__icon(src='/demo/images/creativemarketing-ico.png')
            .columns.medium-11.small-18.medium-offset-0.small-offset-1
              header
                h4.what__title Creative & Marketing

              p The corporate film is a modern and effective tool for solving many corporate objectives: improving the image of the company and the loyalty of its employees, lobbying projects, receiving large foreign investments, reed more
      li.what__item
        a.what__link(href='hr.html')
          article.row
            .columns.medium-offset-3.medium-3.small-20
              .what__icon__container
                img.what__icon(src='/demo/images/hr-ico.png')
            .columns.medium-11.small-18.medium-offset-0.small-offset-1
              header
                h4.what__title HR-Campaing

              p The corporate film is a modern and effective tool for solving many corporate objectives: improving the image of the company and the loyalty of its employees, lobbying projects, receiving large foreign investments, reed more
      li.what__item
        a.what__link(href='video.html')
          article.row
            .columns.medium-offset-3.medium-3.small-20
              .what__icon__container
                img.what__icon(src='/demo/images/video-ico.png')
            .columns.medium-11.small-18.medium-offset-0.small-offset-1
              header
                h4.what__title Video
              p The corporate film is a modern and effective tool for solving many corporate objectives: improving the image of the company and the loyalty of its employees, lobbying projects, receiving large foreign investments, reed more