extends layouts/default
block subnav
  include components/nav/where-nav
block content

  section.map__continer
    #map.map

  script.
    function initMap() {
      var mapOptions = {
        zoom: 3,
        mapTypeControl: false,
        zoomControlOptions: {
          position: google.maps.ControlPosition.LEFT_CENTER,
          style: google.maps.ZoomControlStyle.LARGE
        },
        scaleControl: true,
        streetViewControl: false,
        scrollwheel: false,
        center: new google.maps.LatLng(27.8548016, -42.6990928),
        mapTypeId: google.maps.MapTypeId.ROADMAP
      };
      var map = new google.maps.Map(document.getElementById('map'), mapOptions);
      setMarkers(map);
    }
    var markers = [
      ['ZEO. Conducted by nature', -12.050155, -77.045107, 1],
      ['Lagos', 6.779055, 4.268475, 2]
    ];
    function setMarkers(map) {
      var image = {
        url: '/images/gmarker.png',
        size: new google.maps.Size(38, 38),
        origin: new google.maps.Point(0, 0),
        anchor: new google.maps.Point(19, 19)
      };
      var shape = {
        coords: [1, 1, 1, 20, 18, 20, 18, 1],
        type: 'poly'
      };
      for (var i = 0; i < markers.length; i++) {
        var company = markers[i];
        var marker = new google.maps.Marker({
          position: {lat: company[1], lng: company[2]},

          map: map,
          icon: image,
          title: company[0],
          zIndex: company[3],
          draggable: false
        });
      }
    }
  script(src='//maps.google.com/maps/api/js?key=AIzaSyBahERifhFTHDe_v7pJZxJU-pAt2Y8Yztg&signed_in=true&callback=initMap')