extends layouts/default
block subnav
  include components/nav/who-nav
block content

  section.who__are
    .who__are__slider
      .who__are__slide
        .row
          .who__are__arrow.who__are__arrow--right.who__are__arrow--back.hide-for-small-only
            span.page__arrow.page__arrow--right Who
          .medium-15.columns.end.medium-offset-3
            .who__are__slide-container
              .row
                .medium-8.columns.small-18.small-offset-0.medium-offset-0.shrink
                  .creator__photo__container
                    img.creator__photo(src='/demo/images/vyacheslav.jpg')
                .medium-12.columns.small-18.small-offset-0.medium-offset-0
                  .creator__name--container
                    h2.title.creator__name.creator__name--detail
                      span Alina
                      br
                      span Kotova
                    span.creator__occupation Development director and managing partner
                    a(href='mailto:gold@f-mtn.com') kotova@f-mtn.com
              .row
                .medium-20.columns
                  p Vyacheslav went on an unexpected career path from physicist to filmmaker and scriptwriter (for the Novosibirsk State University team which performs on a popular TV Comedy Show), and “on the way” he has become the director of a production company.
                  p For over twenty years Vyacheslav has been engaged in video production, and is one of the leading experts in the field of corporate films in Russia. The projects under his supervision have received awards at Moscow, New York, Los Angeles, Cannes, and other international film festivals.
                  p He prefers to personally supervise large-scale and integrated projects, including working with companies such as S7 Airlines (including the Company’s campaign to make a new brand name), Salym Petroleum, Rusnano, and FreeDrinks. Many years of experience in solving the problems of large companies has made it possible to expand the sphere of his competence to all aspects of marketing and promotion.
                  p Vyacheslav thinks that the key to success is a combination of creativity and constructive design in every task which the customer is directly involved in. Vyacheslav is convinced that the best method for working together is when the contractor and customer hear one other.
                  blockquote “I love projects which make a real difference, which can be seen, felt, or even better, will lead to mesurable profits for the client. I think my main strength is an ability to successfully manage creative people. Usually it is very challenging. A long-standing love of travel successfully coincides with the vast geography of our projects.”
              .row
                .medium-20.columns
                  .pagination
                    .who__are__arrow.who__are__arrow--right.who__are__arrow--back
                      span.page__arrow.page__arrow--right Who are the founder

      .who__are__slide.who__are__slide-main
        .row
          .medium-7.medium-offset-2.columns.small-18.small-offset-1
            .creator__portrait.creator__portrait-left
              .creator__photo__container
                img.creator__photo(src='/demo/images/vyacheslav.jpg')
              h2.title.creator__name Alina Kotova
              span.creator__occupation Development director and managing partner
              a(href='mailto:gold@f-mtn.com') kotova@f-mtn.com
              p A musician upon her first education, Alina has devoted many years of her life to music and even played in a jazz big band. Simultaneously, she became involved in effective sales and finally changed her career.
          .medium-7.medium-offset-3.columns.small-18.small-offset-1
            .creator__portrait.creator__portrait-right
              .creator__photo__container
                img.creator__photo(src='/demo/images/vyacheslav.jpg')
              h2.title.creator__name Vyacheslav Goldfeld
              span.creator__occupation General director and managing partner
              a(href='mailto:gold@f-mtn.com') gold@f-mtn.com
              p Vyacheslav went on an unexpected career path from physicist to filmmaker and scriptwriter (for the Novosibirsk State University team which performs on a popular TV Comedy Show), and “on the way” he has become the director of a production company.
      .who__are__slide
        .row
          .who__are__arrow.who__are__arrow--left.who__are__arrow--back.hide-for-small-only
            span.page__arrow.page__arrow--left Who
          .medium-15.medium-offset-3.columns
            .who__are__slide-container
              .row
                .medium-8.columns.small-18.small-offset-1.medium-offset-0.shrink
                  .creator__photo__container
                    img.creator__photo(src='/demo/images/vyacheslav.jpg')
                .medium-12.columns.small-18.small-offset-0.medium-offset-0
                  .creator__name--container
                    h2.title.creator__name.creator__name--detail
                      span Vyacheslav
                      br
                      span Goldfeld
                    span.creator__occupation General director and managing partner
                    a(href='mailto:gold@f-mtn.com') gold@f-mtn.com
              .row
                .medium-20.columns
                  p Vyacheslav went on an unexpected career path from physicist to filmmaker and scriptwriter (for the Novosibirsk State University team which performs on a popular TV Comedy Show), and “on the way” he has become the director of a production company.
                  p For over twenty years Vyacheslav has been engaged in video production, and is one of the leading experts in the field of corporate films in Russia. The projects under his supervision have received awards at Moscow, New York, Los Angeles, Cannes, and other international film festivals.
                  p He prefers to personally supervise large-scale and integrated projects, including working with companies such as S7 Airlines (including the Company’s campaign to make a new brand name), Salym Petroleum, Rusnano, and FreeDrinks. Many years of experience in solving the problems of large companies has made it possible to expand the sphere of his competence to all aspects of marketing and promotion.
                  p Vyacheslav thinks that the key to success is a combination of creativity and constructive design in every task which the customer is directly involved in. Vyacheslav is convinced that the best method for working together is when the contractor and customer hear one other.
                  blockquote “I love projects which make a real difference, which can be seen, felt, or even better, will lead to mesurable profits for the client. I think my main strength is an ability to successfully manage creative people. Usually it is very challenging. A long-standing love of travel successfully coincides with the vast geography of our projects.”
              .row
                .medium-20.columns
                  .pagination
                    .who__are__arrow.who__are__arrow--left.who__are__arrow--back
                      span.page__arrow.page__arrow--left Who are the founder
    .who__overlay.who__overlay--left.hide-for-small-only
      .who__are__arrow.page__arrow--left.who__are__arrow--more
        span.page__arrow.page__arrow--left More
    .who__overlay.who__overlay--right.hide-for-small-only
      .who__are__arrow.who__are__arrow--right.who__are__arrow--more
        span.page__arrow.page__arrow--right More

  script.
    function whoAre() {
      var whoOverlay = $('.who__overlay'),
        whoOverlayL = $('.who__overlay--left'),
        whoOverlayR = $('.who__overlay--right'),
        whoPortrait = $('.creator__photo__container'),
        whoPortraitContainerL = $('.creator__portrait-left'),
        whoPortraitContainerR = $('.creator__portrait-right'),
        whoPortraitT = whoPortrait.offset(),
        whoPortraitH = whoPortrait.height();

      whoOverlay.css('top', -whoPortraitT.top);
      /* Set arrow top position */
      $('.who__are__arrow--more').each(function () {
        $(this).css('top', whoPortraitT.top + (whoPortraitH / 2));
      });
      $('.who__are__arrow--back').each(function () {
        $(this).css('top', (whoPortraitH / 2));
      });
      $('.creator__portrait-left').hover(function () {
        whoOverlayL.addClass('hover');
      });
      $('.creator__portrait-right').hover(function () {
        whoOverlayR.addClass('hover');
      });
    };
    whoAre();
