extends layouts/default
block vars
 - var bodyId = 'why'
block content
  .why
    .why__fullpage
      section.why__slider__container
        .why__slide
          .why__slide__container(style='background-image:url(/demo/images/why_1.jpg)')
            h1.title.title--why Freedom
            p We do not limit the range of tools for solving problems;
              br
              | we create new business opportunities.
        .why__slide
          .why__slide__container(style='background-image:url(/demo/images/why_2.jpg)')
            h1.title.title--why Responsibility
            p We are responsible for the appropriateness and meaning of the proposed solutions,
              br
              | and share responsibility for the outcome with the client.
        .why__slide
          .why__slide__container(style='background-image:url(/demo/images/why_3.jpg)')
            h1.title.title--why Experience
            p Twenty years on the market.
              br
              | Hundreds of successful projects
        .why__slide
          .why__slide__container(style='background-image:url(/demo/images/why_4.jpg)')
            h1.title.title--why Energy
            p We know how to work on a schedule
              br
              | which would seem impossible for others.
        .why__slide
          .why__slide__container(style='background-image:url(/demo/images/why_5.jpg)')
            div
            h1.title.title--why Emotion
            p In all that we do: in our attitude to work,
              br
              | in our products, in our solutions.
        .why__slide
          .why__slide__container(style='background-image:url(/demo/images/why_6.jpg)')
            h1.title.title--why Freemotion
            p We are a communication agency, uniting a team of professional
              br
              | with twenty years of exeperience in managment, marketing mass communications
              br
              | and video production.
      .why__slide__nav__container.hide-for-small-only
        .why__slide__nav
          .why__slide__nav__item.why__slide__nav__item-0
            a.active(href='javascript:void(0)') Freedom
          .why__slide__nav__item.why__slide__nav__item-1
            a(href='javascript:void(0)') Responsibility
          .why__slide__nav__item.why__slide__nav__item-2
            a(href='javascript:void(0)') Experience
          .why__slide__nav__item.why__slide__nav__item-3
            a(href='javascript:void(0)') Energy
          .why__slide__nav__item.why__slide__nav__item-4
            a(href='javascript:void(0)') Emotion
          .why__slide__nav__item.why__slide__nav__item-4
            span
              | =
          .why__slide__nav__item.why__slide__nav__item-5
            a(href='javascript:void(0)') Freemotion


    section.why__content
      .row
        .medium-offset-2.medium-15.columns.why__advantage
          .row
            .columns
              h2 Our strength
              p is in the practicality of a creative
                br
                | approach
            .columns
              h2 Our principle
              p is to save time and efforts of the
                br
                | customer through the development
            .columns
              h2 Our borders
              p are five continents

      .row
        .medium-15.medium-offset-2.end.columns
          h2.title--low Experience and experts
          p We do all our work by ourselves, with the help of our specialists, using our own resources and our own ideas – from start to finish. Numerous awards at Russian and international film festivals testify to our experience and reliability. But we are more proud of our partners, most of whom have been working with us for many years.
          br
    section.hide-for-small-only
      include components/clients/clients_sli
    section.show-for-small-only
      include components/sliders/brand


    section
      .row
        .medium-16.medium-offset-2.end.columns
          h2 Awards of film festival
      .row
        .medium-18.medium-offset-1.columns
          include components/portfolio/portfolio-why
