.creator__portrait {
  margin-bottom: rem-calc(100);

  p {
    z-index: 5;
    position: relative;
  }

  &-left {
    padding-left: rem-calc(15);
  }
  &-right {
    padding-left: rem-calc(24);
  }
}

.creator__photo__container {
  width: 100%;
  height: 100%;
  overflow: hidden;
  margin-bottom: rem-calc(43);
  z-index: 5;
  position: relative;
}

.creator__photo {
  border-radius: 200%;
  max-width: 100%;
}

.creator__name {
  font-size: rem-calc(38);
  margin-bottom: 6px;
  letter-spacing: .9px;
  z-index: 5;
  position: relative;

  &--detail {
    margin-top: 0;
    line-height: 1;
    font-size: rem-calc(70);
    margin-bottom: rem-calc(35);
  }
}

.creator__occupation {
  font-size: rem-calc(15);
  letter-spacing: 0;
  text-transform: uppercase;
  font-weight: normal;
  display: block;
  margin-bottom: rem-calc(9);
  z-index: 5;
  position: relative;
}
.who__are__slide-container {
  padding-left: rem-calc(10);
  .creator__photo__container {
    margin-bottom: rem-calc(23);
  }
}
.creator__name--container {
  padding-left: rem-calc(40);

}
