.who__are {
  position: relative;
  margin: rem-calc(40 0 0);

}

.who__are__slide {
  position: relative;
  @include breakpoint(small only) {

  }
  &-main {
    padding-bottom: rem-calc(65);
  }
}

.who__are__arrow {
  position: absolute;
  cursor: pointer;
  @include breakpoint(small only) {
    position: static;
    text-align: center;
  }
}
.who__are__arrow--left {
  left: rem-calc(20);
}
.who__are__arrow--right {
  right: rem-calc(20);
  @include breakpoint(small only) {
    z-index: 10;
    right: 50%;
  }
}
.who__overlay {
  position: absolute;
  top: 0;
  bottom: -30px;
  opacity: 0;
  z-index: -1;
  background-color: rgba(#fff, .1);
  transition: opacity .5s;
  cursor: pointer;
  @include breakpoint(small only) {
    display: none;
  }
  &--left {
    left: 0;
    right: 50%;

  }

  &--right {
    left: 50%;
    right: 0;

  }

  &.hover {
    opacity: 1;
    z-index: 1;
  }

}
