.news--inside {
  margin-top: rem-calc(32);
}

.news__header{
  margin-bottom: rem-calc(40);
  @include breakpoint(small only) {
    margin-bottom: rem-calc(10);
  }
}


.news--inside--anounce {
  margin-bottom: rem-calc(18);
}
