.news__title {
  color: #fff;
  text-decoration: none;
  line-height: 1;
  margin: rem-calc(0 0);
  &:hover {
    color: $link_main;
  }
}

.news__element {
  margin-left: rem-calc(10);
  margin-bottom: rem-calc(48);
  @include breakpoint(medium down) {
    margin-left: 0;
  }
  time {
    display: block;
    margin-bottom: rem-calc(20);
    line-height: 1;
  }

  &:last-child {
    margin-bottom: 0;
  }
}
.news--inside {
  time{
    display: block;
    margin-bottom: rem-calc(20);
    line-height: 1;
  }
}

.news__img {
  box-shadow: -1px 0 13px -1px rgba(0,0,0,0.75);
}

.news {
  margin-top: rem-calc(80);
  @include breakpoint(medium down) {
    margin-top: rem-calc(20);

    .page__arrow {
      margin: rem-calc(10 0);
    }
  }
}
.news__image {
  padding-right: rem-calc(18);
  @include breakpoint(small only) {
    max-width: 100%;
    display: block;
    padding-right: 0;
  }
}
