nav.nav__mobile__container
  .row
    .small-6.columns
      ul.nav__mobile
        li.nav__item.nav__item-mobile
          a.nav__link.nav__link--mobile(href='#') Who
        li.nav__item.nav__item-mobile
          a.nav__link.nav__link--mobile.nav__link--mobile--active(href='#') What
        li.nav__item.nav__item-mobile
          a.nav__link.nav__link--mobile(href='#') Why
        li.nav__item.nav__item-mobile
          a.nav__link.nav__link--mobile(href='#') How
        li.nav__item.nav__item-mobile
          a.nav__link.nav__link--mobile(href='#') Where
    .small-14.columns
      ul.nav__mobile.nav__mobile--subnav
        li.nav__item.nav__item-mobile
          a.nav__link.nav__link--mobile(href='#') CORPORATE FILMS
        li.nav__item.nav__item-mobile
          a.nav__link.nav__link--mobile.nav__link--mobile--active(href='#') Video
        li.nav__item.nav__item-mobile
          a.nav__link.nav__link--mobile(href='#') Events
        li.nav__item.nav__item-mobile
          a.nav__link.nav__link--mobile(href='#') HR-Campaing
        li.nav__item.nav__item-mobile
          a.nav__link.nav__link--mobile(href='#') Creative & marketing