nav.row
  .medium-17.medium-offset-3.columns.hide-for-small-only
    ul.nav.nav__pagenav
      li.nav__item-main
        a.nav__link-main.nav__link-main-active(href='#') Corporate films
      li.nav__item-main
        a.nav__link-main(href='events.html') Events
      li.nav__item-main
        a.nav__link-main(href='#') Creative & Marketing
      li.nav__item-main
        a.nav__link-main(href='hr.html') HR-Campaing
      li.nav__item-main
        a.nav__link-main(href='video.html') Video