nav.row
  .medium-17.medium-offset-3.columns.hide-for-small-only
    ul.nav.nav__pagenav
      li.nav__item-main
        a.nav__link-main.nav__link-main-active(href='where.html') Map achievements
      li.nav__item-main
        a.nav__link-main(href='address.html') Our Address