nav.row
  .medium-17.medium-offset-3.columns.hide-for-small-only
    ul.nav.nav__pagenav
      li.nav__item-main
        a.nav__link-main.nav__link-main-active(href='who.html') Who are the founder
      li.nav__item-main
        a.nav__link-main(href='clients.html') Clients