.nav {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: inline-block;
  font-size: 15px;
}


.nav__header {
  border-bottom: 1px solid #8b5f86;
  font-size: rem-calc(14);
}

.nav__pagenav {
  letter-spacing: -0.08px;
  padding-left: rem-calc(10);
  margin-top: rem-calc(24);

  .nav__item-main {
    margin-right: rem-calc(19);
  }

  .nav__link-main {
    padding-bottom: rem-calc(10);

  }
}

.nav__item-main {
  display: inline-block;
  margin-right: rem-calc(17);

  &:last-child {
    margin-right: 0;
  }

}

.nav__link-main {
  color: $nav_link_color;
  display: block;
  text-decoration: none;
  font-weight: normal;
  text-transform: uppercase;
  margin-bottom: -1px;
  padding-bottom: 10px;
  letter-spacing: -0.3px;

  &:hover {
    color: $nav_link_hover;
  }
  &:active, &.nav__link-main-active {
    color: $nav_link_active;
    border-bottom: 2px solid;
  }
}

.nav__mobile {
  list-style-type: none;
  margin: 0;
  padding: 0;
  border-right: 1px solid #8b5f86;
}
.nav__item-mobile:not(:last-child) {
  margin-bottom: rem-calc(20);

}
.nav__link--mobile {
  text-transform: uppercase;
  color: $nav_link_color;
  text-decoration: none;
  font-weight: normal;
  font-size: rem-calc(14);
  border-right: 2px solid transparent;
  margin-right: -1px;
  display: block;
  line-height: 1;

  &--active {
    color: $nav_link_active;
    border-right: 2px solid;
  }
}
.nav__mobile--subnav {
  border-right: none;

  .nav__link--mobile--active {
    border-right: none;
  }
}

.header__news__nav {
  .nav__link-main {
    font-size: rem-calc(14);
  }

}
