- var bodyBg = 'background-image: url(/images/bg_1.jpg)'
block vars
doctype html
html.no-js
  head
    meta(charset='utf-8')
    title My Webapp
    meta(name='description' content='')
    meta(name='viewport' content='width=device-width, initial-scale=1')
    link(rel='apple-touch-icon' href='apple-touch-icon.png')
    // Place favicon.ico and apple-touch-icon.png in the root directory

    // build:css styles/vendor.css
    // bower:css
    // endbower
    // endbuild

    // build:css styles/main.css
    link(rel='stylesheet' href='styles/main.css')
    // endbuild

    // build:js scripts/vendor/modernizr.js
    script(src='../bower_components/modernizr/modernizr.js')
    // endbuild
    // build:js scripts/vendor.js
    // bower:js
    script(src='../bower_components/jquery/dist/jquery.js')
    script(src='scripts/plugins/multiple-select.js')
    script(src='../bower_components/foundation-sites/js/foundation.core.js')
    script(src='../bower_components/foundation-sites/js/foundation.util.mediaQuery.js')
    script(src='../bower_components/foundation-sites/js/foundation.util.triggers.js')
    script(src='../bower_components/foundation-sites/js/foundation.util.motion.js')
    script(src='../bower_components/foundation-sites/js/foundation.offcanvas.js')
    // endbower
    // endbuild

  body(id= bodyId)
    .off-canvas-wrapper
      .off-canvas-wrapper-inner(data-off-canvas-wrapper)
        .off-canvas.position-left#offCanvasLeft(data-off-canvas data-position="left")
          section
            header.off-canvas__header
              .row.align-middle
                .small-14.columns
                  .logo
                    a.logo__link(href='#')
                      img.logo__img(src='/images/logo.png')
                .small-3.columns

                .small-3.columns
                  button.close-button(data-close)
            include ../components/nav/nav-mobile

        .off-canvas-content(data-off-canvas-content)
          .page__wrapper(style= bodyBg)
            header.header
              .row.align-middle
                .medium-3.columns.small-12
                  .logo
                    a.logo__link(href='#')
                      img.logo__img(src='/images/logo.png')
                .medium-12.columns.hide-for-small-only
                  .nav__header__container
                    nav
                      ul.nav.nav__header
                        li.nav__item-main
                          a.nav__link-main(href='who.html') Who
                        li.nav__item-main
                          a.nav__link-main.nav__link-main-active(href='what.html') What
                        li.nav__item-main
                          a.nav__link-main(href='why.html') Why
                        li.nav__item-main
                          a.nav__link-main(href='how.html') How
                        li.nav__item-main
                          a.nav__link-main(href='where.html') Where
                .medium-2.columns.text-right.hide-for-small-only
                  .header__news__nav
                    ul.nav
                      li.nav__item-main
                        a.nav__link-main(href='news.html') News
                .medium-2.small-4.columns
                  .langswitch__container.hide-for-small-only
                    ul.nav.nav__header
                      li.nav__item-main
                        a.nav__link-main(href='#') Ru
                      li.nav__item-main
                        a.nav__link-main.nav__link-main-active(href='#') En
                  .langswitch__navigation.show-for-small-only
                    span.langswitch__switcher EN
                    ul.langswitch__subnav
                      li
                        a.nav__link-main.current(href='#') English
                      li
                        a.nav__link-main(href='#') Russian
                .small-4.columns.show-for-small-only
                  button.open__menu(data-open="offCanvasLeft")
              block subnav
            block content
            include ../components/footer/footer
          include ../components/modal/feedback
    // build:js scripts/plugins.js
    script(src='scripts/plugins/slick.js')
    script(src='scripts/plugins/remodal.js')
    script(src='scripts/plugins/measurer.js')
    script(src='scripts/plugins/gradienttext.js')
    // endbuild

    // build:js scripts/main.js
    script(src='scripts/main.js')
    // endbuild
