.events {
  margin-top: rem-calc(65);
  h1.title{
    padding-left: rem-calc(5);
    margin: rem-calc(0 0 13);
    line-height: 1.1;
  }
  p {
    padding-left: rem-calc(10);
    margin-bottom: rem-calc(35);
  }
}
.event__slide img{
  max-width: rem-calc(850);
}

.slide__count__container {
  position: absolute;
  width: 100%;
  bottom: 0;
  @include breakpoint(small only) {
    position: static;
  }
}

.slide__count {
  position: relative;
  font-size: rem-calc(40);
  text-align: right;
  font-weight: 100;
}

.goal {
  border: 1px solid rgba(#fff, .2);
  padding: rem-calc(22 36);
  margin: rem-calc(30 -30 0);

  @include breakpoint(medium down) {
    margin: rem-calc(20);
  }

  p {
    margin: rem-calc(0 0 10);
    padding: 0;
  }
}

.goal__title {
  font-weight: 100;
  font-size: rem-calc(40);
  margin: rem-calc(0 0 8);
}

.goal__logo {
  float: right;
}

.events__subtitle {
  font-size: rem-calc(18);
  font-weight: bold;
  padding-left: rem-calc(10);
  letter-spacing: 0;
  margin-bottom: rem-calc(10);
}

.event__slider__container {
  margin: rem-calc(18 0 6);
  position: relative;
}
.slide__count {
  position: absolute;
  right: 50%;
  bottom: 100%;
  margin-right: rem-calc(20);

  @include breakpoint(small only) {
    position: static;
    text-align: center;
    margin-right: 0;
  }
}
.event__slide {
  cursor: pointer;
  &.slick-current {
    cursor: default;
  }
}
