.what__nav {
  width: 100%;
  margin: rem-calc(40 0 0);
  padding: 0;
  list-style-type: none;
}



.what__link {
  color: inherit;
  text-decoration: none;
  display: block;
  width: 100%;
  padding: rem-calc(40 0);

  &:hover {
    background-color: rgba(#fff, .1);
    color: #fff;
  }

  @include breakpoint(medium down) {
    padding: rem-calc(10 0);
  }
}

.what__title {
  margin: 0;
  letter-spacing: normal;
  text-transform: uppercase;
  font-weight: 100;
  font-size: rem-calc(40);
  line-height: 1;
}



.read-more-show {
  display: inline-block;
  border-bottom: dashed 1px;
  text-decoration: none;
  line-height: 1;
  margin-left: rem-calc(5);
}

.hide {
  display: none;
}
.what__icon__container {
  @include breakpoint(medium down) {
    text-align: center;
    margin-bottom: rem-calc(10);
  }
}
