section
  .row
    .medium-18.medium-offset-1.columns
      .clients__wrapper
        .row.small-collapse.clients
          .columns.medium-expand.client__tile__container
            .clients__tile
              .clients__tile__logo__container
                img(src='/demo/images/tile-logo-1.png')
          .columns.medium-expand.client__tile__container
            .clients__tile
              .clients__tile__logo__container
                img(src='/demo/images/tile-logo-2.png')
          .columns.medium-expand.client__tile__container
            .clients__tile
              .clients__tile__logo__container
                img(src='/demo/images/tile-logo-3.png')
        .row.small-collapse.clients
          .columns.medium-expand.client__tile__container
            .clients__tile
              .clients__tile__logo__container
                img(src='/demo/images/tile-logo-4.png')
              .clients__tile__overlay.clients__tile__overlay--green
                .clients__tile__logo__container
                  img(src='/demo/images/tile-logo-4-hover.png')
                .tile__project.tile__project--up
                  a.tile__link(href='#')
                    .tile__project__annotation
                      span.project__type Event
                      span Megafon makes a gift of a legend

                .tile__project.tile__project--right
                  a.tile__link(href='#')
                    .tile__project__annotation
                      span.project__type Event
                      span Megafon makes a gift of a legend

                  .tile__project.tile__project--down
                    a.tile__link(href='#')
                      .tile__project__annotation
                        span.project__type Event
                        span Megafon makes a gift of a legend

                .tile__project.tile__project--down
                  a.tile__link(href='#')
                    .tile__project__annotation
                      span.project__type Event
                      span Megafon makes a gift of a legend
                      span.awards__badge__container
                        span.awards__badge
                          span SILVER AWARD IN THE CATEGORY
                            br
                            | CORPORATE

          .columns.medium-expand.client__tile__container
            .clients__tile
              .clients__tile__logo__container
                img(src='/demo/images/tile-logo-5.png')
          .columns.medium-expand.client__tile__container
            .clients__tile
              .clients__tile__logo__container
                img(src='/demo/images/tile-logo-6.png')
        .row.small-collapse.clients
          .columns.medium-expand.client__tile__container
            .clients__tile
              .clients__tile__logo__container
                img(src='/demo/images/tile-logo-7.png')
          .columns.medium-expand.client__tile__container
            .clients__tile
              .clients__tile__logo__container
                img(src='/demo/images/tile-logo-8.png')
          .columns.medium-expand.client__tile__container
            .clients__tile
              .clients__tile__logo__container
                img(src='/demo/images/tile-logo-9.png')
        .row.small-collapse.clients
          .columns.medium-expand.client__tile__container
            .clients__tile
              .clients__tile__logo__container
                img(src='/demo/images/tile-logo-10.png')
          .columns.medium-expand.client__tile__container
            .clients__tile
              .clients__tile__logo__container
                img(src='/demo/images/tile-logo-11.png')
          .columns.medium-expand.client__tile__container
            .clients__tile
              .clients__tile__logo__container
                img(src='/demo/images/tile-logo-12.png')

  script.
    $( document ).ready(function() {
      function clientsSlim() {
        var clientsContainer = $('.clients__wrapper'),
            clientsTile = $('.clients__tile'),
            clientsContainerOffset = clientsContainer.offset(),
            clientsScreenSize = $(window).height(),
            clientRow = $('.clients__wrapper .row'),
            clientsRowCount = $(clientRow).length,
            footerHeight = $('.footer').height(),
            clientsWrapperHeight = clientsScreenSize - clientsContainerOffset.top - footerHeight;


        $(clientsContainer).height(clientsWrapperHeight);
        $(clientRow).each(function () {
          clientsTile.height(clientsWrapperHeight / clientsRowCount);
        });

      };
      function clients() {
        var clientsTile = $('.clients__tile');
        clientsTile.height(clientsTile.width());
      };
      if (screen.width >= 700) {
        clientsSlim();
        $(window).resize(clientsSlim);
      } else {
        clients();
        $(window).resize(clients);
      }
    });
