section
  .row
    .medium-18.medium-offset-1.columns
      .clients__wrapper
        .row.small-collapse.clients
          .columns.medium-expand.client__tile__container
            .clients__tile
              .clients__tile__logo__container
                img(src='/demo/images/tile-logo-1.png')
          .columns.medium-expand.client__tile__container
            .clients__tile
              .clients__tile__logo__container
                img(src='/demo/images/tile-logo-2.png')
          .columns.medium-expand.client__tile__container
            .clients__tile
              .clients__tile__logo__container
                img(src='/demo/images/tile-logo-3.png')
          .columns.medium-expand.client__tile__container
            .clients__tile
              .clients__tile__logo__container
                img(src='/demo/images/tile-logo-5.png')
        .row.small-collapse.clients
          .columns.medium-expand.client__tile__container
            .clients__tile
              .clients__tile__logo__container
                img(src='/demo/images/tile-logo-4.png')
              .clients__tile__overlay.clients__tile__overlay--green
                .clients__tile__logo__container
                  img(src='/demo/images/tile-logo-4-hover.png')
                .tile__project.tile__project--up
                  a.tile__link(href='#')
                    .tile__project__annotation
                      span Event
                      span Megafon makes a gift of a legend

                .tile__project.tile__project--right
                  a.tile__link(href='#')
                    .tile__project__annotation
                      span Event
                      span Megafon makes a gift of a legend

                  .tile__project.tile__project--down
                    a.tile__link(href='#')
                      .tile__project__annotation
                        span Event
                        span Megafon makes a gift of a legend

                .tile__project.tile__project--down
                  a.tile__link(href='#')
                    .tile__project__annotation
                      span Event
                      span Megafon makes a gift of a legend

          .columns.medium-expand.client__tile__container
            .clients__tile
              .clients__tile__logo__container
                img(src='/demo/images/tile-logo-5.png')
          .columns.medium-expand.client__tile__container
            .clients__tile
              .clients__tile__logo__container
                img(src='/demo/images/tile-logo-6.png')
          .columns.medium-expand.client__tile__container
            .clients__tile
              .clients__tile__logo__container
                img(src='/demo/images/tile-logo-5.png')
        .row.small-collapse.clients
          .columns.medium-expand.client__tile__container
            .clients__tile
              .clients__tile__logo__container
                img(src='/demo/images/tile-logo-7.png')
          .columns.medium-expand.client__tile__container
            .clients__tile
              .clients__tile__logo__container
                img(src='/demo/images/tile-logo-5.png')
          .columns.medium-expand.client__tile__container
            .clients__tile
              .clients__tile__logo__container
                img(src='/demo/images/tile-logo-8.png')
          .columns.medium-expand.client__tile__container
            .clients__tile
              .clients__tile__logo__container
                img(src='/demo/images/tile-logo-9.png')
        .row.small-collapse.clients
          .columns.medium-expand.client__tile__container
            .clients__tile
              .clients__tile__logo__container
                img(src='/demo/images/tile-logo-5.png')
          .columns.medium-expand.client__tile__container
            .clients__tile
              .clients__tile__logo__container
                img(src='/demo/images/tile-logo-10.png')
          .columns.medium-expand.client__tile__container
            .clients__tile
              .clients__tile__logo__container
                img(src='/demo/images/tile-logo-11.png')
          .columns.medium-expand.client__tile__container
            .clients__tile
              .clients__tile__logo__container
                img(src='/demo/images/tile-logo-12.png')

  script.
    function clients() {
      $('.clients__tile').height($('.clients__tile').width());
    };
    clients();
    $(window).resize(clients);
