/* Page Arrows */

.page__arrow__container {
  width: 100%;
  text-align: center;
}
.page__arrow {
  display: inline-block;
  vertical-align: middle;
  position: relative;
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: normal;
  font-size: 14px;
  &:before, &:after {
    display: inline-block;
    width: 15px;
    height: 28px;
    vertical-align: middle;
  }
}

.page__arrow--left {
  &:before {
    content: '';
    margin-right: 20px;
    @extend .arrow-left-md;
  }
  &:hover{
    &:before {
      @extend .arrow-left-md-hover;
    }
  }
}
header {
  .page__arrow {
    line-height: rem-calc(63);
  }

  .page__arrow--right {
    margin-right: rem-calc(-20);
  }
}
.page__arrow--right {
  &:after {
    content: '';
    margin-left: 20px;
    @extend .arrow-right-md;
  }
  &:hover{
    &:after {
      @extend .arrow-right-md-hover;
    }
  }
}

.button {
  display: inline-block;
  text-align: center;
  color: #000;
  background-color: #fff;
  border: none;
  text-transform: uppercase;
  text-decoration: none;
  font-weight: normal;
  transition: background-color .3s,
              color .3s;
  font-size: rem-calc(14);
  padding: rem-calc(15 40);

  &:hover {
    background-color: $nav_link_hover;
    color: #000;
  }
}

.button--footer {
  font-size: rem-calc(14);
  padding: rem-calc(12 18);
  line-height: 1;
  letter-spacing: 0;
  background-color: rgba(#fff, .11);
  color: #fff;

  &:hover {
    background-color: #ffa9a9;
    color: #852b54;
  }
}
.pagination {
  display: none;
  border-top: 1px solid rgba(#fff, .3);
  border-bottom: 1px solid rgba(#fff, .3);
  padding: rem-calc(10 0);
  margin: rem-calc(10);
  @include breakpoint(small only) {
    display: block;
  }
}

.page__brick {
  background: url('/images/four_block.png') 50% no-repeat;
  display: inline-block;
  width: rem-calc(17);
  height: rem-calc(17);
}
