.footer__address {
  display: inline-block;
  text-transform: uppercase;
  font-weight: normal;
  font-size: 14px;
  padding-left: rem-calc(6);
  line-height: 1.4;
  letter-spacing: 0.3px;

  @include breakpoint(medium down) {
    text-align: center;
    padding-left: 0;
    width: 100%;
    margin-bottom: rem-calc(20);
  }
}

.address__street {
  display: block;
  color: #fff;
}

.address__country {
  display: block;
  color: #e8c5de;
}