.footer {
  padding: rem-calc(20 0);
  border-top: 1px solid rgba(#fff, .2);
  margin-left: -20px;
  margin-right: -20px;
  margin-top: rem-calc(30);
}

.footer__feedback {
  display: inline-block;
  vertical-align: top;
  margin-right: rem-calc(10);

  @include breakpoint(medium down) {
    margin-right: 0;
    width: 100%;
    text-align: center;
    margin-bottom: rem-calc(20);
  }
}

.social__list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  margin: 0 0 -4px -8px;
  padding: 0;
  display: inline-block;

  li {
    float: left;
    margin-right:rem-calc(10);
  }
}

.social__link {
  display: block;
  width: 29px;
  height: 28px;
  background-repeat: no-repeat;
  background-position: 50%;
}

.social__ico--linkedin {
  background-image: url('/images/icon_linkidn.png');

  &:hover {
    background-image: url('/images/icon_linkidn-hover.png');
  }
}

.social__ico--facebook {
  background-image: url('/images/icon_facebook.png');

  &:hover {
    background-image: url('/images/icon_facebook-hover.png');
  }
}
.social__ico--youtube {
  background-image: url('/images/icon_youtube.png');

  &:hover {
    background-image: url('/images/icon_youtube-hover.png');
  }
}

.designstudio__logo {
  background: url('/images/ufour-logo.png') 50% no-repeat;
  display: inline-block;
  width: 83px;
  height: 33px;
  margin-bottom: -5px;

  &:hover {
    background-image: url('/images/ufour-logo-hover.png');
  }

  @include breakpoint(medium down) {
    display: block;
    margin: rem-calc(20 0 0);
    width: 100%;
  }
}
