.brands__slider__container {
  margin-left: rem-calc(-20);
  margin-right: rem-calc(-20);
  padding: rem-calc(16 0);
  background-color: #fff;

  .slick-list {
    margin: rem-calc(0 80);
  }
}

.brand__slide {
  margin: rem-calc(20 0);
  text-align: center;
}
