/* Slider */

.slick-slider {
    position: relative;
    display: block;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -ms-touch-action: pan-y;
    touch-action: pan-y;
    -webkit-tap-highlight-color: transparent;
}
.slick-list {
    position: relative;
    overflow: hidden;
    display: block;
    margin: 0;
    padding: 0;

    &:focus {
        outline: none;
    }

    &.dragging {
        cursor: pointer;
        cursor: hand;
    }
}
.slick-slider .slick-track,
.slick-slider .slick-list {
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}

.slick-track {
    position: relative;
    left: 0;
    top: 0;
    display: block;

    &:before,
    &:after {
        content: "";
        display: table;
    }

    &:after {
        clear: both;
    }

    .slick-loading & {
        visibility: hidden;
    }
}
.slick-slide {
    float: left;
    height: 100%;
    min-height: 1px;
    [dir="rtl"] & {
      float: right;
    }
    &.slick-loading img {
        display: none;
    }

    display: none;

    &.dragging img {
        pointer-events: none;
    }

    .slick-initialized & {
        display: block;
    }

    .slick-loading & {
        visibility: hidden;
    }

    .slick-vertical & {
        display: block;
        height: auto;
        border: 1px solid transparent;
    }
}
.slick-arrow.slick-hidden {
    display: none;
}

.slick-arrow {
  display: block;
  position: absolute;
  width: 22px;
  height: 42px;
  top: 50%;
  margin-top: -21px;
  cursor: pointer;

  &.slider-next {
    background-image: url('/images/arrow-right-hd.png');
    right: 20px;
  }
  &.slider-prev {
    background-image: url('/images/arrow-left-hd.png');
    left: 20px;
  }
  &:hover {
    &.slider-next {
      background-image: url('/images/arrow-right-hd-hover.png');
    }
    &.slider-prev {
      background-image: url('/images/arrow-left-hd-hover.png');
    }
  }
}

.slick-dots {
  display: block;
  margin: 0;
  padding: 0;
  list-style-type: none;
  text-align: center;
  position: absolute;
  bottom: rem-calc(10);
  left: 0;
  right: 0;

  li {
    display: inline-block;
    margin: rem-calc(0 10);
    width: rem-calc(10);
    height: rem-calc(10);
    border-radius: 200%;
    background-color: #fff;

    &.slick-active {
      background-color: $link_hover;
    }
  }
  button {
    text-indent: -9999px;
    display: block;
    background: none;
    border: none;
  }

}
.slick__arrow--bottom {
  top: 100%;
  &.page__arrow--left {
    left: rem-calc(10);
  }
  &.page__arrow--right {
    right: rem-calc(10);
    &:after {
      margin-left: 0;
    }
  }
}
