form(action='#')
  input.input(placeholder='Your name *')
  .row
    .medium-10.columns.small-20
      input.input(placeholder='Your phone *')
    .medium-10.columns.small-20
      input.input(placeholder='your email address *')
  textarea.textarea(placeholder='your message')
  .row
    .medium-20.columns.text-right
      input.button(type='submit' value='Send')
